workflows/ceo_brief_v2.json
{
  "updatedAt": "2026-04-19T20:18:28.972Z",
  "createdAt": "2026-04-19T20:18:28.972Z",
  "id": "jQk5mYnjauW0BLcy",
  "name": "CEO Brief v2 (with Yandex SEO)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "sched",
      "name": "Every day 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "db",
      "name": "DB: All Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        200,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "itoHsJc2DC65TB86",
          "name": "GG Production DB"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  -- SITE summary\n  (SELECT COUNT(*) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as site_orders,\n  (SELECT ROUND(SUM(total_amount)::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as site_gmv,\n  (SELECT ROUND(SUM(total_amount) FILTER (WHERE payment_method ILIKE '%card%')::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as gmv_card,\n  (SELECT COUNT(*) FILTER (WHERE payment_method ILIKE '%card%') FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cnt_card,\n  (SELECT ROUND(SUM(total_amount) FILTER (WHERE payment_method NOT ILIKE '%card%')::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as gmv_balance,\n  (SELECT COUNT(*) FILTER (WHERE payment_method NOT ILIKE '%card%') FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cnt_balance,\n  (SELECT COUNT(*) FROM orders WHERE status IN ('cancelled_before_payment','cancelled_after_payment','cancelled') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cancelled,\n\n  -- TOP-30 as JSON array\n  (SELECT json_agg(t ORDER BY t.rev DESC) FROM (\n    SELECT oi.product_snapshot->>'name' as name, COUNT(DISTINCT o.id) as qty,\n      ROUND(SUM(oi.total_price)::numeric/100.0,2) as rev\n    FROM orders o JOIN order_items oi ON oi.order_id=o.id\n    WHERE o.status IN ('completed','fulfilled','paid')\n      AND o.created_at >= CURRENT_DATE - 1 AND o.created_at < CURRENT_DATE\n    GROUP BY 1 ORDER BY rev DESC LIMIT 30\n  ) t) as top30,\n\n  -- PEAKS as JSON array\n  (SELECT json_agg(t ORDER BY t.cnt DESC) FROM (\n    SELECT EXTRACT(HOUR FROM created_at AT TIME ZONE 'Europe/Moscow')::int as h, COUNT(*) as cnt\n    FROM orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n      AND status IN ('completed','fulfilled','paid')\n    GROUP BY 1 ORDER BY cnt DESC LIMIT 5\n  ) t) as peaks,\n\n  -- YM orders as JSON array\n  (SELECT json_agg(t ORDER BY t.rub DESC) FROM (\n    SELECT ym_order_id, ROUND(items_total::numeric/100.0,0) as rub, delivery_region as city, status\n    FROM yandex_market_orders\n    WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n    ORDER BY items_total DESC LIMIT 10\n  ) t) as ym_orders,\n\n  -- YM total\n  (SELECT COUNT(*) FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as ym_count,\n  (SELECT ROUND(SUM(items_total)::numeric/100.0,0) FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as ym_total_rub,\n\n  -- YM geo as JSON array\n  (SELECT json_agg(t ORDER BY t.orders DESC) FROM (\n    SELECT COALESCE(delivery_region,'Неизвестно') as region, COUNT(*) as orders,\n      ROUND(SUM(items_total)::numeric/100.0,0) as total_rub\n    FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n    GROUP BY 1 ORDER BY orders DESC LIMIT 6\n  ) t) as ym_geo",
        "options": {
          "connectionTimeoutMillis": 60000
        }
      }
    },
    {
      "id": "build",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst dt = new Date();\n// Moscow time\nconst msk = new Date(dt.getTime() + 3*3600000);\nconst days = ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'];\nconst months = ['января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'];\nconst yesterday = new Date(msk.getTime() - 86400000);\nconst dateStr = `${yesterday.getDate()} ${months[yesterday.getMonth()]} ${yesterday.getFullYear()}`;\n\nlet msg = `📊 Отчёт за ${dateStr}\\n`;\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n\n// SITE\nconst siteOrders = d.site_orders || 0;\nconst siteGmv = d.site_gmv || 0;\nmsg += `▎Сайт — ${siteOrders} заказов, ${siteGmv} EUR\\n`;\n\n// TOP-30\nconst top = d.top30 || [];\nif (top.length > 0) {\n  msg += `Топ по выручке:\\n`;\n  top.slice(0,10).forEach(p => {\n    msg += `• ${p.name} — ${p.rev} EUR (${p.qty} шт)\\n`;\n  });\n  if (top.length > 10) msg += `  ...ещё ${top.length - 10} позиций\\n`;\n}\n\n// Payment methods\nconst card = d.gmv_card || 0;\nconst bal = d.gmv_balance || 0;\nif (card > 0 || bal > 0) {\n  msg += `\\nОплата: картой ${card} EUR (${d.cnt_card || 0} шт), баланс ${bal} EUR (${d.cnt_balance || 0} шт)\\n`;\n}\n\n// Peaks\nconst peaks = d.peaks || [];\nif (peaks.length > 0) {\n  const pkStr = peaks.slice(0,3).map(p => `${p.h}:00 (${p.cnt} зак.)`).join(', ');\n  msg += `Пики: ${pkStr}\\n`;\n}\n\nif (d.cancelled > 0) msg += `Отменено: ${d.cancelled}\\n`;\n\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n\n// YM\nconst ymCount = d.ym_count || 0;\nconst ymRub = d.ym_total_rub || 0;\nconst ymAvg = ymCount > 0 ? Math.round(ymRub / ymCount) : 0;\nconst ymOrders = d.ym_orders || [];\n\nif (ymCount > 0) {\n  msg += `▎Яндекс Маркет — ${ymCount} заказов, ${ymRub} ₽\\n`;\n  if (ymOrders.length > 0) {\n    msg += `Крупные:\\n`;\n    ymOrders.forEach(o => {\n      msg += `• ${o.rub} ₽ — ${o.city || '—'}\\n`;\n    });\n  }\n  const ymGeo = d.ym_geo || [];\n  if (ymGeo.length > 0) {\n    const moscow = ymGeo.find(g => g.region && g.region.includes('Москв'));\n    const total_regions = ymGeo.length;\n    if (moscow) {\n      msg += `География: Москва (${moscow.orders} зак., ${moscow.total_rub} ₽), регионы (${ymCount - moscow.orders})\\n`;\n    } else {\n      const geoStr = ymGeo.slice(0,3).map(g => `${g.region} (${g.orders})`).join(', ');\n      msg += `Geography: ${geoStr}\\n`;\n    }\n  }\n  msg += `Средний чек: ${ymAvg} ₽\\n`;\n  msg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n}\n\n// Total\nmsg += `▎Итого: сайт ${siteGmv} EUR`;\nif (ymRub > 0) msg += ` + ЯМ ${ymRub} ₽`;\nmsg += `\\n`;\n\nif (top.length >= 2) {\n  msg += `Лидеры: ${top[0].name} (${top[0].qty} шт), ${top[1].name} (${top[1].qty} шт)`;\n}\n\n\n// === SEO ИНДЕКС ЯНДЕКСА ===\ntry {\n  // In Search history\n  const inSearch = $('YW: In Search').first().json;\n  const history = inSearch.history || [];\n  if (history.length >= 2) {\n    const latest = history[history.length - 1];\n    const weekAgo = history.length >= 8 ? history[history.length - 8] : history[0];\n    const delta = latest.value - weekAgo.value;\n    const pct = weekAgo.value > 0 ? (100 * delta / weekAgo.value).toFixed(1) : '0';\n    const sign = delta >= 0 ? '+' : '';\n    msg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n    msg += `▎SEO индекс Яндекса\\n`;\n    msg += `Страниц в поиске: ${latest.value.toLocaleString('ru-RU')} (${sign}${delta.toLocaleString('ru-RU')} за нед, ${sign}${pct}%)\\n`;\n  }\n  \n  // Events — appeared/removed за 7 дней\n  const ev = $('YW: Events').first().json;\n  const inds = ev.indicators || {};\n  const appeared = inds.APPEARED_IN_SEARCH || [];\n  const removed = inds.REMOVED_FROM_SEARCH || [];\n  if (appeared.length >= 7 && removed.length >= 7) {\n    const app7 = appeared.slice(-7).reduce((s, p) => s + p.value, 0);\n    const rem7 = removed.slice(-7).reduce((s, p) => s + p.value, 0);\n    const net7 = app7 - rem7;\n    const netSign = net7 >= 0 ? '+' : '';\n    msg += `Появилось за 7 дн: ${app7.toLocaleString('ru-RU')}, удалено: ${rem7.toLocaleString('ru-RU')} (net ${netSign}${net7.toLocaleString('ru-RU')})\\n`;\n    \n    const todayApp = appeared[appeared.length - 1].value;\n    const todayRem = removed[removed.length - 1].value;\n    const todayNet = todayApp - todayRem;\n    const tSign = todayNet >= 0 ? '+' : '';\n    msg += `Вчера: +${todayApp} / −${todayRem} (net ${tSign}${todayNet})\\n`;\n  }\n  \n  // Crawl 200 OK за 7 дней\n  const crawl = $('YW: Crawl').first().json;\n  const cInds = crawl.indicators || {};\n  const http200 = [];\n  for (const k in cInds) {\n    if (k.indexOf('HTTP_2XX') >= 0) {\n      for (const p of cInds[k]) http200.push(p);\n    }\n  }\n  if (http200.length >= 7) {\n    const crawl7 = http200.slice(-7).reduce((s, p) => s + p.value, 0);\n    msg += `Обход ботом 200 OK за 7 дн: ${crawl7.toLocaleString('ru-RU')}\\n`;\n  }\n} catch(e) {\n  msg += `━━━━━━━━━━━━━━━━━━━━\\n▎SEO индекс: ошибка ${e.message}\\n`;\n}\n\n\nreturn [{ json: { text: msg } }];"
      }
    },
    {
      "id": "tg",
      "name": "Telegram: CEO Brief",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "IjoBfA5jgnMrU9qV",
          "name": "GG Telegram Bot"
        }
      },
      "parameters": {
        "chatId": "83436260",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "webhookId": "8d40c26f-dc8f-4581-9c2a-692b898bf756"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/search-urls/in-search/history",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
            }
          ]
        },
        "allowUnauthorizedCerts": false
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ],
      "name": "YW: In Search",
      "id": "yw-in-search-01"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/search-urls/events/history",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "name": "YW: Events",
      "id": "yw-events-01"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/indexing/history",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "name": "YW: Crawl",
      "id": "yw-crawl-01"
    }
  ],
  "connections": {
    "Every day 09:00": {
      "main": [
        [
          {
            "node": "DB: All Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: All Stats": {
      "main": [
        [
          {
            "node": "YW: In Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YW: In Search": {
      "main": [
        [
          {
            "node": "YW: Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YW: Events": {
      "main": [
        [
          {
            "node": "YW: Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YW: Crawl": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Telegram: CEO Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every day 09:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "365f6b8c-1a61-4abd-a292-fbc1227c006d",
  "activeVersionId": "365f6b8c-1a61-4abd-a292-fbc1227c006d",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-19T20:18:28.972Z",
      "createdAt": "2026-04-19T20:18:28.972Z",
      "role": "workflow:owner",
      "workflowId": "jQk5mYnjauW0BLcy",
      "projectId": "jCp1XTf5YwVTzsQI",
      "project": {
        "updatedAt": "2026-02-27T19:24:12.401Z",
        "createdAt": "2026-02-27T19:08:04.595Z",
        "id": "jCp1XTf5YwVTzsQI",
        "name": "Kirill Silvestrov <ceo@vvv.cash>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "50eeaeaf-1628-40cf-b2a8-89a7dcf2d74e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-19T20:18:28.988Z",
    "createdAt": "2026-04-19T20:18:28.988Z",
    "versionId": "365f6b8c-1a61-4abd-a292-fbc1227c006d",
    "workflowId": "jQk5mYnjauW0BLcy",
    "nodes": [
      {
        "id": "sched",
        "name": "Every day 09:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "db",
        "name": "DB: All Stats",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          200,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "itoHsJc2DC65TB86",
            "name": "GG Production DB"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  -- SITE summary\n  (SELECT COUNT(*) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as site_orders,\n  (SELECT ROUND(SUM(total_amount)::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as site_gmv,\n  (SELECT ROUND(SUM(total_amount) FILTER (WHERE payment_method ILIKE '%card%')::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as gmv_card,\n  (SELECT COUNT(*) FILTER (WHERE payment_method ILIKE '%card%') FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cnt_card,\n  (SELECT ROUND(SUM(total_amount) FILTER (WHERE payment_method NOT ILIKE '%card%')::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as gmv_balance,\n  (SELECT COUNT(*) FILTER (WHERE payment_method NOT ILIKE '%card%') FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cnt_balance,\n  (SELECT COUNT(*) FROM orders WHERE status IN ('cancelled_before_payment','cancelled_after_payment','cancelled') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cancelled,\n\n  -- TOP-30 as JSON array\n  (SELECT json_agg(t ORDER BY t.rev DESC) FROM (\n    SELECT oi.product_snapshot->>'name' as name, COUNT(DISTINCT o.id) as qty,\n      ROUND(SUM(oi.total_price)::numeric/100.0,2) as rev\n    FROM orders o JOIN order_items oi ON oi.order_id=o.id\n    WHERE o.status IN ('completed','fulfilled','paid')\n      AND o.created_at >= CURRENT_DATE - 1 AND o.created_at < CURRENT_DATE\n    GROUP BY 1 ORDER BY rev DESC LIMIT 30\n  ) t) as top30,\n\n  -- PEAKS as JSON array\n  (SELECT json_agg(t ORDER BY t.cnt DESC) FROM (\n    SELECT EXTRACT(HOUR FROM created_at AT TIME ZONE 'Europe/Moscow')::int as h, COUNT(*) as cnt\n    FROM orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n      AND status IN ('completed','fulfilled','paid')\n    GROUP BY 1 ORDER BY cnt DESC LIMIT 5\n  ) t) as peaks,\n\n  -- YM orders as JSON array\n  (SELECT json_agg(t ORDER BY t.rub DESC) FROM (\n    SELECT ym_order_id, ROUND(items_total::numeric/100.0,0) as rub, delivery_region as city, status\n    FROM yandex_market_orders\n    WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n    ORDER BY items_total DESC LIMIT 10\n  ) t) as ym_orders,\n\n  -- YM total\n  (SELECT COUNT(*) FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as ym_count,\n  (SELECT ROUND(SUM(items_total)::numeric/100.0,0) FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as ym_total_rub,\n\n  -- YM geo as JSON array\n  (SELECT json_agg(t ORDER BY t.orders DESC) FROM (\n    SELECT COALESCE(delivery_region,'Неизвестно') as region, COUNT(*) as orders,\n      ROUND(SUM(items_total)::numeric/100.0,0) as total_rub\n    FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n    GROUP BY 1 ORDER BY orders DESC LIMIT 6\n  ) t) as ym_geo",
          "options": {
            "connectionTimeoutMillis": 60000
          }
        }
      },
      {
        "id": "build",
        "name": "Build Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const d = $input.first().json;\nconst dt = new Date();\n// Moscow time\nconst msk = new Date(dt.getTime() + 3*3600000);\nconst days = ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'];\nconst months = ['января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'];\nconst yesterday = new Date(msk.getTime() - 86400000);\nconst dateStr = `${yesterday.getDate()} ${months[yesterday.getMonth()]} ${yesterday.getFullYear()}`;\n\nlet msg = `📊 Отчёт за ${dateStr}\\n`;\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n\n// SITE\nconst siteOrders = d.site_orders || 0;\nconst siteGmv = d.site_gmv || 0;\nmsg += `▎Сайт — ${siteOrders} заказов, ${siteGmv} EUR\\n`;\n\n// TOP-30\nconst top = d.top30 || [];\nif (top.length > 0) {\n  msg += `Топ по выручке:\\n`;\n  top.slice(0,10).forEach(p => {\n    msg += `• ${p.name} — ${p.rev} EUR (${p.qty} шт)\\n`;\n  });\n  if (top.length > 10) msg += `  ...ещё ${top.length - 10} позиций\\n`;\n}\n\n// Payment methods\nconst card = d.gmv_card || 0;\nconst bal = d.gmv_balance || 0;\nif (card > 0 || bal > 0) {\n  msg += `\\nОплата: картой ${card} EUR (${d.cnt_card || 0} шт), баланс ${bal} EUR (${d.cnt_balance || 0} шт)\\n`;\n}\n\n// Peaks\nconst peaks = d.peaks || [];\nif (peaks.length > 0) {\n  const pkStr = peaks.slice(0,3).map(p => `${p.h}:00 (${p.cnt} зак.)`).join(', ');\n  msg += `Пики: ${pkStr}\\n`;\n}\n\nif (d.cancelled > 0) msg += `Отменено: ${d.cancelled}\\n`;\n\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n\n// YM\nconst ymCount = d.ym_count || 0;\nconst ymRub = d.ym_total_rub || 0;\nconst ymAvg = ymCount > 0 ? Math.round(ymRub / ymCount) : 0;\nconst ymOrders = d.ym_orders || [];\n\nif (ymCount > 0) {\n  msg += `▎Яндекс Маркет — ${ymCount} заказов, ${ymRub} ₽\\n`;\n  if (ymOrders.length > 0) {\n    msg += `Крупные:\\n`;\n    ymOrders.forEach(o => {\n      msg += `• ${o.rub} ₽ — ${o.city || '—'}\\n`;\n    });\n  }\n  const ymGeo = d.ym_geo || [];\n  if (ymGeo.length > 0) {\n    const moscow = ymGeo.find(g => g.region && g.region.includes('Москв'));\n    const total_regions = ymGeo.length;\n    if (moscow) {\n      msg += `География: Москва (${moscow.orders} зак., ${moscow.total_rub} ₽), регионы (${ymCount - moscow.orders})\\n`;\n    } else {\n      const geoStr = ymGeo.slice(0,3).map(g => `${g.region} (${g.orders})`).join(', ');\n      msg += `Geography: ${geoStr}\\n`;\n    }\n  }\n  msg += `Средний чек: ${ymAvg} ₽\\n`;\n  msg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n}\n\n// Total\nmsg += `▎Итого: сайт ${siteGmv} EUR`;\nif (ymRub > 0) msg += ` + ЯМ ${ymRub} ₽`;\nmsg += `\\n`;\n\nif (top.length >= 2) {\n  msg += `Лидеры: ${top[0].name} (${top[0].qty} шт), ${top[1].name} (${top[1].qty} шт)`;\n}\n\n\n// === SEO ИНДЕКС ЯНДЕКСА ===\ntry {\n  // In Search history\n  const inSearch = $('YW: In Search').first().json;\n  const history = inSearch.history || [];\n  if (history.length >= 2) {\n    const latest = history[history.length - 1];\n    const weekAgo = history.length >= 8 ? history[history.length - 8] : history[0];\n    const delta = latest.value - weekAgo.value;\n    const pct = weekAgo.value > 0 ? (100 * delta / weekAgo.value).toFixed(1) : '0';\n    const sign = delta >= 0 ? '+' : '';\n    msg += `━━━━━━━━━━━━━━━━━━━━\\n`;\n    msg += `▎SEO индекс Яндекса\\n`;\n    msg += `Страниц в поиске: ${latest.value.toLocaleString('ru-RU')} (${sign}${delta.toLocaleString('ru-RU')} за нед, ${sign}${pct}%)\\n`;\n  }\n  \n  // Events — appeared/removed за 7 дней\n  const ev = $('YW: Events').first().json;\n  const inds = ev.indicators || {};\n  const appeared = inds.APPEARED_IN_SEARCH || [];\n  const removed = inds.REMOVED_FROM_SEARCH || [];\n  if (appeared.length >= 7 && removed.length >= 7) {\n    const app7 = appeared.slice(-7).reduce((s, p) => s + p.value, 0);\n    const rem7 = removed.slice(-7).reduce((s, p) => s + p.value, 0);\n    const net7 = app7 - rem7;\n    const netSign = net7 >= 0 ? '+' : '';\n    msg += `Появилось за 7 дн: ${app7.toLocaleString('ru-RU')}, удалено: ${rem7.toLocaleString('ru-RU')} (net ${netSign}${net7.toLocaleString('ru-RU')})\\n`;\n    \n    const todayApp = appeared[appeared.length - 1].value;\n    const todayRem = removed[removed.length - 1].value;\n    const todayNet = todayApp - todayRem;\n    const tSign = todayNet >= 0 ? '+' : '';\n    msg += `Вчера: +${todayApp} / −${todayRem} (net ${tSign}${todayNet})\\n`;\n  }\n  \n  // Crawl 200 OK за 7 дней\n  const crawl = $('YW: Crawl').first().json;\n  const cInds = crawl.indicators || {};\n  const http200 = [];\n  for (const k in cInds) {\n    if (k.indexOf('HTTP_2XX') >= 0) {\n      for (const p of cInds[k]) http200.push(p);\n    }\n  }\n  if (http200.length >= 7) {\n    const crawl7 = http200.slice(-7).reduce((s, p) => s + p.value, 0);\n    msg += `Обход ботом 200 OK за 7 дн: ${crawl7.toLocaleString('ru-RU')}\\n`;\n  }\n} catch(e) {\n  msg += `━━━━━━━━━━━━━━━━━━━━\\n▎SEO индекс: ошибка ${e.message}\\n`;\n}\n\n\nreturn [{ json: { text: msg } }];"
        }
      },
      {
        "id": "tg",
        "name": "Telegram: CEO Brief",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1400,
          300
        ],
        "credentials": {
          "telegramApi": {
            "id": "IjoBfA5jgnMrU9qV",
            "name": "GG Telegram Bot"
          }
        },
        "parameters": {
          "chatId": "83436260",
          "text": "={{ $json.text }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "webhookId": "8d40c26f-dc8f-4581-9c2a-692b898bf756"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/search-urls/in-search/history",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
              }
            ]
          },
          "allowUnauthorizedCerts": false
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          600,
          300
        ],
        "name": "YW: In Search",
        "id": "yw-in-search-01"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/search-urls/events/history",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          800,
          300
        ],
        "name": "YW: Events",
        "id": "yw-events-01"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/indexing/history",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1000,
          300
        ],
        "name": "YW: Crawl",
        "id": "yw-crawl-01"
      }
    ],
    "connections": {
      "Every day 09:00": {
        "main": [
          [
            {
              "node": "DB: All Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DB: All Stats": {
        "main": [
          [
            {
              "node": "YW: In Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YW: In Search": {
        "main": [
          [
            {
              "node": "YW: Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YW: Events": {
        "main": [
          [
            {
              "node": "YW: Crawl",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YW: Crawl": {
        "main": [
          [
            {
              "node": "Build Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Report": {
        "main": [
          [
            {
              "node": "Telegram: CEO Brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kirill Silvestrov",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-19T20:18:29.182Z",
        "id": 14105,
        "workflowId": "jQk5mYnjauW0BLcy",
        "versionId": "365f6b8c-1a61-4abd-a292-fbc1227c006d",
        "event": "activated",
        "userId": "50eeaeaf-1628-40cf-b2a8-89a7dcf2d74e"
      }
    ]
  }
}