workflows/WF-012_CEO_Brief.json
{"name": "[REPORT] GG Daily CEO Brief", "nodes": [{"id": "sched", "name": "Every day 09:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 24, "triggerAtHour": 9}]}}}, {"id": "db", "name": "DB: All Stats", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [220, 300], "credentials": {"postgres": {"id": "itoHsJc2DC65TB86", "name": "GG Production DB"}}, "parameters": {"operation": "executeQuery", "query": "SELECT\n  -- SITE summary\n  (SELECT COUNT(*) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as site_orders,\n  (SELECT ROUND(SUM(total_amount)::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as site_gmv,\n  (SELECT ROUND(SUM(total_amount) FILTER (WHERE payment_method ILIKE '%card%')::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as gmv_card,\n  (SELECT COUNT(*) FILTER (WHERE payment_method ILIKE '%card%') FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cnt_card,\n  (SELECT ROUND(SUM(total_amount) FILTER (WHERE payment_method NOT ILIKE '%card%')::numeric/100.0,2) FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as gmv_balance,\n  (SELECT COUNT(*) FILTER (WHERE payment_method NOT ILIKE '%card%') FROM orders WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cnt_balance,\n  (SELECT COUNT(*) FROM orders WHERE status IN ('cancelled_before_payment','cancelled_after_payment','cancelled') AND created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as cancelled,\n\n  -- TOP-30 as JSON array\n  (SELECT json_agg(t ORDER BY t.rev DESC) FROM (\n    SELECT oi.product_snapshot->>'name' as name, COUNT(DISTINCT o.id) as qty,\n      ROUND(SUM(oi.total_price)::numeric/100.0,2) as rev\n    FROM orders o JOIN order_items oi ON oi.order_id=o.id\n    WHERE o.status IN ('completed','fulfilled','paid')\n      AND o.created_at >= CURRENT_DATE - 1 AND o.created_at < CURRENT_DATE\n    GROUP BY 1 ORDER BY rev DESC LIMIT 30\n  ) t) as top30,\n\n  -- PEAKS as JSON array\n  (SELECT json_agg(t ORDER BY t.cnt DESC) FROM (\n    SELECT EXTRACT(HOUR FROM created_at AT TIME ZONE 'Europe/Moscow')::int as h, COUNT(*) as cnt\n    FROM orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n      AND status IN ('completed','fulfilled','paid')\n    GROUP BY 1 ORDER BY cnt DESC LIMIT 5\n  ) t) as peaks,\n\n  -- YM orders as JSON array\n  (SELECT json_agg(t ORDER BY t.rub DESC) FROM (\n    SELECT ym_order_id, ROUND(items_total::numeric/100.0,0) as rub, delivery_region as city, status\n    FROM yandex_market_orders\n    WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n    ORDER BY items_total DESC LIMIT 10\n  ) t) as ym_orders,\n\n  -- YM total\n  (SELECT COUNT(*) FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as ym_count,\n  (SELECT ROUND(SUM(items_total)::numeric/100.0,0) FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE) as ym_total_rub,\n\n  -- YM geo as JSON array\n  (SELECT json_agg(t ORDER BY t.orders DESC) FROM (\n    SELECT COALESCE(delivery_region,'\u041d\u0435\u0438\u0437\u0432\u0435\u0441\u0442\u043d\u043e') as region, COUNT(*) as orders,\n      ROUND(SUM(items_total)::numeric/100.0,0) as total_rub\n    FROM yandex_market_orders WHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\n    GROUP BY 1 ORDER BY orders DESC LIMIT 6\n  ) t) as ym_geo", "options": {"connectionTimeoutMillis": 60000}}}, {"id": "build", "name": "Build Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const d = $input.first().json;\nconst dt = new Date();\n// Moscow time\nconst msk = new Date(dt.getTime() + 3*3600000);\nconst days = ['\u0432\u043e\u0441\u043a\u0440\u0435\u0441\u0435\u043d\u044c\u0435','\u043f\u043e\u043d\u0435\u0434\u0435\u043b\u044c\u043d\u0438\u043a','\u0432\u0442\u043e\u0440\u043d\u0438\u043a','\u0441\u0440\u0435\u0434\u0430','\u0447\u0435\u0442\u0432\u0435\u0440\u0433','\u043f\u044f\u0442\u043d\u0438\u0446\u0430','\u0441\u0443\u0431\u0431\u043e\u0442\u0430'];\nconst months = ['\u044f\u043d\u0432\u0430\u0440\u044f','\u0444\u0435\u0432\u0440\u0430\u043b\u044f','\u043c\u0430\u0440\u0442\u0430','\u0430\u043f\u0440\u0435\u043b\u044f','\u043c\u0430\u044f','\u0438\u044e\u043d\u044f','\u0438\u044e\u043b\u044f','\u0430\u0432\u0433\u0443\u0441\u0442\u0430','\u0441\u0435\u043d\u0442\u044f\u0431\u0440\u044f','\u043e\u043a\u0442\u044f\u0431\u0440\u044f','\u043d\u043e\u044f\u0431\u0440\u044f','\u0434\u0435\u043a\u0430\u0431\u0440\u044f'];\nconst yesterday = new Date(msk.getTime() - 86400000);\nconst dateStr = `${yesterday.getDate()} ${months[yesterday.getMonth()]} ${yesterday.getFullYear()}`;\n\nlet msg = `\ud83d\udcca \u041e\u0442\u0447\u0451\u0442 \u0437\u0430 ${dateStr}\\n`;\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\n\n// SITE\nconst siteOrders = d.site_orders || 0;\nconst siteGmv = d.site_gmv || 0;\nmsg += `\u258e\u0421\u0430\u0439\u0442 \u2014 ${siteOrders} \u0437\u0430\u043a\u0430\u0437\u043e\u0432, ${siteGmv} EUR\\n`;\n\n// TOP-30\nconst top = d.top30 || [];\nif (top.length > 0) {\n  msg += `\u0422\u043e\u043f \u043f\u043e \u0432\u044b\u0440\u0443\u0447\u043a\u0435:\\n`;\n  top.slice(0,10).forEach(p => {\n    msg += `\u2022 ${p.name} \u2014 ${p.rev} EUR (${p.qty} \u0448\u0442)\\n`;\n  });\n  if (top.length > 10) msg += `  ...\u0435\u0449\u0451 ${top.length - 10} \u043f\u043e\u0437\u0438\u0446\u0438\u0439\\n`;\n}\n\n// Payment methods\nconst card = d.gmv_card || 0;\nconst bal = d.gmv_balance || 0;\nif (card > 0 || bal > 0) {\n  msg += `\\n\u041e\u043f\u043b\u0430\u0442\u0430: \u043a\u0430\u0440\u0442\u043e\u0439 ${card} EUR (${d.cnt_card || 0} \u0448\u0442), \u0431\u0430\u043b\u0430\u043d\u0441 ${bal} EUR (${d.cnt_balance || 0} \u0448\u0442)\\n`;\n}\n\n// Peaks\nconst peaks = d.peaks || [];\nif (peaks.length > 0) {\n  const pkStr = peaks.slice(0,3).map(p => `${p.h}:00 (${p.cnt} \u0437\u0430\u043a.)`).join(', ');\n  msg += `\u041f\u0438\u043a\u0438: ${pkStr}\\n`;\n}\n\nif (d.cancelled > 0) msg += `\u041e\u0442\u043c\u0435\u043d\u0435\u043d\u043e: ${d.cancelled}\\n`;\n\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\n\n// YM\nconst ymCount = d.ym_count || 0;\nconst ymRub = d.ym_total_rub || 0;\nconst ymAvg = ymCount > 0 ? Math.round(ymRub / ymCount) : 0;\nconst ymOrders = d.ym_orders || [];\n\nif (ymCount > 0) {\n  msg += `\u258e\u042f\u043d\u0434\u0435\u043a\u0441 \u041c\u0430\u0440\u043a\u0435\u0442 \u2014 ${ymCount} \u0437\u0430\u043a\u0430\u0437\u043e\u0432, ${ymRub} \u20bd\\n`;\n  if (ymOrders.length > 0) {\n    msg += `\u041a\u0440\u0443\u043f\u043d\u044b\u0435:\\n`;\n    ymOrders.forEach(o => {\n      msg += `\u2022 ${o.rub} \u20bd \u2014 ${o.city || '\u2014'}\\n`;\n    });\n  }\n  const ymGeo = d.ym_geo || [];\n  if (ymGeo.length > 0) {\n    const moscow = ymGeo.find(g => g.region && g.region.includes('\u041c\u043e\u0441\u043a\u0432'));\n    const total_regions = ymGeo.length;\n    if (moscow) {\n      msg += `\u0413\u0435\u043e\u0433\u0440\u0430\u0444\u0438\u044f: \u041c\u043e\u0441\u043a\u0432\u0430 (${moscow.orders} \u0437\u0430\u043a., ${moscow.total_rub} \u20bd), \u0440\u0435\u0433\u0438\u043e\u043d\u044b (${ymCount - moscow.orders})\\n`;\n    } else {\n      const geoStr = ymGeo.slice(0,3).map(g => `${g.region} (${g.orders})`).join(', ');\n      msg += `Geography: ${geoStr}\\n`;\n    }\n  }\n  msg += `\u0421\u0440\u0435\u0434\u043d\u0438\u0439 \u0447\u0435\u043a: ${ymAvg} \u20bd\\n`;\n  msg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\n}\n\n// Total\nmsg += `\u258e\u0418\u0442\u043e\u0433\u043e: \u0441\u0430\u0439\u0442 ${siteGmv} EUR`;\nif (ymRub > 0) msg += ` + \u042f\u041c ${ymRub} \u20bd`;\nmsg += `\\n`;\n\nif (top.length >= 2) {\n  msg += `\u041b\u0438\u0434\u0435\u0440\u044b: ${top[0].name} (${top[0].qty} \u0448\u0442), ${top[1].name} (${top[1].qty} \u0448\u0442)`;\n}\n\nreturn [{ json: { text: msg } }];"}}, {"id": "tg", "name": "Telegram: CEO Brief", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [660, 300], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false}}}], "connections": {"Every day 09:00": {"main": [[{"node": "DB: All Stats", "type": "main", "index": 0}]]}, "DB: All Stats": {"main": [[{"node": "Build Report", "type": "main", "index": 0}]]}, "Build Report": {"main": [[{"node": "Telegram: CEO Brief", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}