workflows/WF-012_CEO_Brief.json
{"name": "[REPORT] GG Daily CEO Brief", "nodes": [{"id": "sched", "name": "Every day 09:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 24, "triggerAtHour": 9}]}}}, {"id": "s", "name": "DB: Site", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [220, 300], "credentials": {"postgres": {"id": "itoHsJc2DC65TB86", "name": "GG Production DB"}}, "parameters": {"operation": "executeQuery", "query": "SELECT\n  -- Orders summary\n  COUNT(*) FILTER (WHERE status IN ('completed','fulfilled','paid')) as orders_count,\n  ROUND(SUM(total_amount) FILTER (WHERE status IN ('completed','fulfilled','paid'))::numeric / 100.0, 2) as gmv_eur,\n  -- Previous day for delta\n  COUNT(*) FILTER (WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 2 AND created_at < CURRENT_DATE - 1) as orders_prev,\n  ROUND(SUM(total_amount) FILTER (WHERE status IN ('completed','fulfilled','paid') AND created_at >= CURRENT_DATE - 2 AND created_at < CURRENT_DATE - 1)::numeric / 100.0, 2) as gmv_prev,\n  -- Payment methods\n  ROUND(SUM(total_amount) FILTER (WHERE status IN ('completed','fulfilled','paid') AND payment_method ILIKE '%card%')::numeric / 100.0, 2) as gmv_card,\n  COUNT(*) FILTER (WHERE status IN ('completed','fulfilled','paid') AND payment_method ILIKE '%card%') as cnt_card,\n  ROUND(SUM(total_amount) FILTER (WHERE status IN ('completed','fulfilled','paid') AND payment_method NOT ILIKE '%card%')::numeric / 100.0, 2) as gmv_balance,\n  COUNT(*) FILTER (WHERE status IN ('completed','fulfilled','paid') AND payment_method NOT ILIKE '%card%') as cnt_balance,\n  -- Cancellations\n  COUNT(*) FILTER (WHERE status IN ('cancelled_before_payment','cancelled_after_payment','cancelled')) as cancelled\nFROM orders\nWHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE", "options": {"connectionTimeoutMillis": 30000}}}, {"id": "t", "name": "DB: Top30", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [440, 300], "credentials": {"postgres": {"id": "itoHsJc2DC65TB86", "name": "GG Production DB"}}, "parameters": {"operation": "executeQuery", "query": "SELECT\n  oi.product_snapshot->>'name' as product,\n  COUNT(DISTINCT o.id) as qty,\n  ROUND(SUM(oi.total_price)::numeric / 100.0, 2) as revenue_eur\nFROM orders o\nJOIN order_items oi ON oi.order_id = o.id\nWHERE o.status IN ('completed','fulfilled','paid')\n  AND o.created_at >= CURRENT_DATE - 1 AND o.created_at < CURRENT_DATE\nGROUP BY 1\nORDER BY revenue_eur DESC\nLIMIT 30", "options": {"connectionTimeoutMillis": 30000}}}, {"id": "p", "name": "DB: Peaks", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [660, 300], "credentials": {"postgres": {"id": "itoHsJc2DC65TB86", "name": "GG Production DB"}}, "parameters": {"operation": "executeQuery", "query": "SELECT\n  EXTRACT(HOUR FROM created_at AT TIME ZONE 'Europe/Moscow')::int as hour_msk,\n  COUNT(*) FILTER (WHERE status IN ('completed','fulfilled','paid')) as orders\nFROM orders\nWHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\nGROUP BY 1\nORDER BY orders DESC\nLIMIT 5", "options": {"connectionTimeoutMillis": 30000}}}, {"id": "y", "name": "DB: YM Orders", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [880, 300], "credentials": {"postgres": {"id": "itoHsJc2DC65TB86", "name": "GG Production DB"}}, "parameters": {"operation": "executeQuery", "query": "SELECT\n  ymo.id,\n  ymo.items_total as amount_kopecks,\n  ymo.buyer_info->>'lastName' as city_placeholder,\n  ymo.buyer_info->>'region' as region,\n  ymo.buyer_info->>'city' as city,\n  ymo.status,\n  ymo.created_at\nFROM yandex_market_orders ymo\nWHERE ymo.created_at >= CURRENT_DATE - 1 AND ymo.created_at < CURRENT_DATE\nORDER BY amount_kopecks DESC\nLIMIT 10", "options": {"connectionTimeoutMillis": 30000}}}, {"id": "g", "name": "DB: YM Geo", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1100, 300], "credentials": {"postgres": {"id": "itoHsJc2DC65TB86", "name": "GG Production DB"}}, "parameters": {"operation": "executeQuery", "query": "SELECT\n  COALESCE(buyer_info->>'region', '\u041d\u0435\u0438\u0437\u0432\u0435\u0441\u0442\u043d\u043e') as region,\n  COUNT(*) as orders,\n  ROUND(SUM(items_total)::numeric / 100.0, 0) as total_rub\nFROM yandex_market_orders\nWHERE created_at >= CURRENT_DATE - 1 AND created_at < CURRENT_DATE\nGROUP BY 1\nORDER BY orders DESC\nLIMIT 8", "options": {"connectionTimeoutMillis": 30000}}}, {"id": "build", "name": "Build Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const site = $('DB: Site').first().json;\nconst top = $('DB: Top30').all();\nconst peaks = $('DB: Peaks').all();\nconst ym = $('DB: YM Orders').all();\nconst ymGeo = $('DB: YM Geo').all();\n\nconst dt = new Date();\nconst msk = new Date(dt.getTime() + 3 * 3600000);\nconst dateStr = msk.toLocaleDateString('ru-RU', {day:'numeric', month:'long', year:'numeric'});\n\n// Site section\nlet msg = `\ud83d\udcca \u041e\u0442\u0447\u0451\u0442 \u0437\u0430 ${dateStr}\\n`;\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\u258e\u0421\u0430\u0439\u0442 \u2014 ${site.orders_count || 0} \u0437\u0430\u043a\u0430\u0437\u043e\u0432, ${site.gmv_eur || 0} EUR\\n`;\n\nif (top.length > 0) {\n  msg += `\u0422\u043e\u043f \u043f\u043e \u0432\u044b\u0440\u0443\u0447\u043a\u0435:\\n`;\n  top.slice(0, 10).forEach(r => {\n    const p = r.json;\n    msg += `\u2022 ${p.product} \u2014 ${p.revenue_eur} EUR (${p.qty} \u0448\u0442)\\n`;\n  });\n  if (top.length > 10) {\n    msg += `... \u0438 \u0435\u0449\u0451 ${top.length - 10} \u043f\u043e\u0437\u0438\u0446\u0438\u0439\\n`;\n  }\n}\n\n// Payment methods\nconst card = site.gmv_card || 0;\nconst balance = site.gmv_balance || 0;\nif (card > 0 || balance > 0) {\n  msg += `\\n\u041e\u043f\u043b\u0430\u0442\u0430: \u043a\u0430\u0440\u0442\u043e\u0439 ${card} EUR (${site.cnt_card || 0} \u0448\u0442), \u0431\u0430\u043b\u0430\u043d\u0441 ${balance} EUR (${site.cnt_balance || 0} \u0448\u0442)\\n`;\n}\n\n// Peaks\nif (peaks.length > 0) {\n  const peakHours = peaks.slice(0,3).map(r => `${r.json.hour_msk}:00 (${r.json.orders} \u0437\u0430\u043a.)`).join(', ');\n  msg += `\u041f\u0438\u043a\u0438: ${peakHours}\\n`;\n}\n\n// Cancelled\nif (site.cancelled > 0) {\n  msg += `\u041e\u0442\u043c\u0435\u043d\u0435\u043d\u043e: ${site.cancelled}\\n`;\n}\n\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\n\n// YM section\nif (ym.length > 0) {\n  const ymTotal = ym.reduce((s,r) => s + (r.json.amount_kopecks || 0), 0);\n  const ymRub = Math.round(ymTotal / 100);\n  const ymAvg = ym.length > 0 ? Math.round(ymRub / ym.length) : 0;\n  \n  msg += `\u258e\u042f\u043d\u0434\u0435\u043a\u0441 \u041c\u0430\u0440\u043a\u0435\u0442 \u2014 ${ym.length} \u0437\u0430\u043a\u0430\u0437\u043e\u0432, ${ymRub} \u20bd\\n`;\n  msg += `\u041a\u0440\u0443\u043f\u043d\u044b\u0435:\\n`;\n  ym.slice(0, 5).forEach(r => {\n    const p = r.json;\n    const rub = Math.round((p.amount_kopecks || 0) / 100);\n    const city = p.city || p.region || '\u2014';\n    msg += `\u2022 ${rub} \u20bd \u2014 ${city}\\n`;\n  });\n  \n  if (ymGeo.length > 0) {\n    const geoStr = ymGeo.slice(0,4).map(r => `${r.json.region} (${r.json.orders} \u0437\u0430\u043a., ${r.json.total_rub} \u20bd)`).join(', ');\n    msg += `Geography: ${geoStr}\\n`;\n  }\n  \n  msg += `\u0421\u0440\u0435\u0434\u043d\u0438\u0439 \u0447\u0435\u043a: ${ymAvg} \u20bd\\n`;\n  msg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\n}\n\n// Total\nconst ymTotalRub = ym.reduce((s,r) => s + Math.round((r.json.amount_kopecks || 0) / 100), 0);\nmsg += `\u258e\u0418\u0442\u043e\u0433\u043e: \u0441\u0430\u0439\u0442 ${site.gmv_eur || 0} EUR`;\nif (ymTotalRub > 0) msg += ` + \u042f\u041c ${ymTotalRub} \u20bd`;\nmsg += `\\n`;\n\n// Top leaders\nif (top.length >= 2) {\n  msg += `\u041b\u0438\u0434\u0435\u0440\u044b: ${top[0].json.product} (${top[0].json.qty} \u0448\u0442), ${top[1].json.product} (${top[1].json.qty} \u0448\u0442)`;\n}\n\nreturn [{ json: { text: msg } }];"}}, {"id": "tg", "name": "Telegram: CEO Brief", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1540, 300], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false}}}], "connections": {"Every day 09:00": {"main": [[{"node": "DB: Site", "type": "main", "index": 0}]]}, "DB: Site": {"main": [[{"node": "DB: Top30", "type": "main", "index": 0}]]}, "DB: Top30": {"main": [[{"node": "DB: Peaks", "type": "main", "index": 0}]]}, "DB: Peaks": {"main": [[{"node": "DB: YM Orders", "type": "main", "index": 0}]]}, "DB: YM Orders": {"main": [[{"node": "DB: YM Geo", "type": "main", "index": 0}]]}, "DB: YM Geo": {"main": [[{"node": "Build Report", "type": "main", "index": 0}]]}, "Build Report": {"main": [[{"node": "Telegram: CEO Brief", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}