workflows/WF-202_SEO_AI_Agent_v2.json
{
  "updatedAt": "2026-03-05T17:02:56.378Z",
  "createdAt": "2026-03-05T15:46:23.879Z",
  "id": "iI3kYbrzbobvbklo",
  "name": "[SEO] WF-202 SEO AI Agent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "n1",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "n2",
      "name": "JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "\n// Pure JS RSA-SHA256 JWT — hardcoded key params (no DER parsing, no crypto imports)\n// Key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com\n\n// ── SHA-256 (pure JS) ─────────────────────────────────────────────\nfunction sha256bytes(msgArr) {\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const ml=msgArr.length,p=[...msgArr,0x80];\n  while(p.length%64!==56)p.push(0);\n  const bl=ml*8;\n  for(let i=7;i>=0;i--)p.push((bl/Math.pow(2,i*8))>>>0&0xff);\n  function r(v,n){return((v>>>n)|(v<<(32-n)))>>>0;}\n  for(let i=0;i<p.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w.push((p[i+j*4]<<24)|(p[i+j*4+1]<<16)|(p[i+j*4+2]<<8)|p[i+j*4+3]);\n    for(let j=16;j<64;j++){const s0=(r(w[j-15],7)^r(w[j-15],18)^(w[j-15]>>>3))>>>0,s1=(r(w[j-2],17)^r(w[j-2],19)^(w[j-2]>>>10))>>>0;w.push((w[j-16]+s0+w[j-7]+s1)>>>0);}\n    let[a,b,c,d,e,f,g,h]=[h0,h1,h2,h3,h4,h5,h6,h7];\n    for(let j=0;j<64;j++){const s1=(r(e,6)^r(e,11)^r(e,25))>>>0,ch=((e&f)^(~e&g))>>>0,t1=(h+s1+ch+K[j]+w[j])>>>0,s0=(r(a,2)^r(a,13)^r(a,22))>>>0,mj=((a&b)^(a&c)^(b&c))>>>0,t2=(s0+mj)>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  const out=[];for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])for(let i=3;i>=0;i--)out.push((v>>>(i*8))&0xff);\n  return out;\n}\n\n// ── RSA-2048 modpow (BigInt) ──────────────────────────────────────\n// Hardcoded key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com (key_id: 244e58378aec)\nconst N = BigInt('0xb30add3763363a87ce08a9b53875784e21e81e97577d9d7a8f8af671d1487fd43564b23ec954f4fe47892bb31ff4a07893b77ccef1d29ec4553230ec56db765b16a40db1d82de6244707c35b719bf35f19ab08e643720198e29c90f3bb0e42ece42b645733d2078852f91fb8acdd32fb9fa4c3caa4597db5cf242186eb34c922356bd71c612889fc447166f1665951e38d2c0c8498c87706f3a4f89ae4a22a15bec679e2a848c583c26907433bd7481c68575506d009ace79821a2db91897f98ad569b621168e88c1d691019da43bab2aedafcdffdf307c4b32bb8168d386806a0770458c3fc313ca377adb398a3a2811b8b853dc5e76da950d35b0f33efb64b');\nconst D = BigInt('0xac6ae1eddcd4f438a3e923c528c1b74146d5c9dfe4994b762395a70ea48434d59f3581918541134d6c866456f38718a2055ec60a6446782e89fcf3b02554e2fd85282728050eee7a310d00cca6f38fc31d6cdffd1f2642f38007566fe0cb3317fe02eb762ea92c27d3ffa4d4ab63b91d27f7fbb4c1e08c76f12bd23da37409dc0eb97666fb87e77f8a5874f11dcdf0a4782e24fc679d518fda1f2e9e534aabcc98d8e7e9aca19823ca366509ec48d0cfbc269aa02011de377821fb3881aca7549eb5d37bf507e49d13200ba6d47b1b9b0f66be937c9149244cf66d9c19e2f1ddc8f8bbca419625e42d03fac6b4dba7ddcaa1346284356019d37e52d02aa80b1');\n\nfunction modpow(b,exp,m){let r=1n;b=b%m;while(exp>0n){if(exp&1n)r=r*b%m;exp>>=1n;b=b*b%m;}return r;}\n\nconst SHA256_DER=[0x30,0x31,0x30,0x0d,0x06,0x09,0x60,0x86,0x48,0x01,0x65,0x03,0x04,0x02,0x01,0x05,0x00,0x04,0x20];\n\nfunction rsaSign(msgArr) {\n  const hash = sha256bytes(msgArr);\n  const T = [...SHA256_DER, ...hash]; // 19+32=51 bytes\n  const padLen = 256 - T.length - 3;  // 202 bytes of 0xff\n  const padded = [0x00, 0x01, ...Array(padLen).fill(0xff), 0x00, ...T];\n  const m = BigInt('0x' + padded.map(b=>b.toString(16).padStart(2,'0')).join(''));\n  const s = modpow(m, D, N);\n  const hex = s.toString(16).padStart(512,'0');\n  return Array.from({length:256},(_,i)=>parseInt(hex.slice(i*2,i*2+2),16));\n}\n\n// ── JWT builder ───────────────────────────────────────────────────\nfunction b64u(bytes){return btoa(String.fromCharCode(...bytes)).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction sb64u(s){return btoa(unescape(encodeURIComponent(s))).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction toBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048)b.push(0xc0|(c>>6),0x80|(c&0x3f));else b.push(0xe0|(c>>12),0x80|((c>>6)&0x3f),0x80|(c&0x3f));}return b;}\n\nfunction makeJWT(scope) {\n  const now = Math.floor(Date.now()/1000);\n  const hdr = sb64u(JSON.stringify({alg:'RS256',typ:'JWT'}));\n  const pld = sb64u(JSON.stringify({iss:'ga4-mcp@ru-gg-438811.iam.gserviceaccount.com',scope,aud:'https://oauth2.googleapis.com/token',iat:now,exp:now+3600}));\n  const sig = rsaSign(toBytes(hdr+'.'+pld));\n  return hdr+'.'+pld+'.'+b64u(sig);\n}\n\nconst sd = new Date(Date.now()-30*86400000).toISOString().split('T')[0];\nconst ed = new Date().toISOString().split('T')[0];\n\nreturn [{json:{\n  jwt_ga4: makeJWT('https://www.googleapis.com/auth/analytics.readonly'),\n  jwt_gsc: makeJWT('https://www.googleapis.com/auth/webmasters.readonly'),\n  start_date: sd, end_date: ed\n}}];\n"
      }
    },
    {
      "id": "n3",
      "name": "GA4 Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $('JWT').first().json.jwt_ga4 }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n4",
      "name": "GSC Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $('JWT').first().json.jwt_gsc }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n5",
      "name": "GA4 Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://analyticsdata.googleapis.com/v1beta/properties/511167634:runReport",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('GA4 Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\"dateRanges\":[{\"startDate\":$(\"JWT\").first().json.start_date,\"endDate\":$(\"JWT\").first().json.end_date}],\"metrics\":[{\"name\":\"sessions\"},{\"name\":\"conversions\"},{\"name\":\"purchaseRevenue\"}],\"dimensions\":[{\"name\":\"sessionDefaultChannelGroup\"}]} }}"
      }
    },
    {
      "id": "n6",
      "name": "GSC Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('GSC Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\"startDate\":$(\"JWT\").first().json.start_date,\"endDate\":$(\"JWT\").first().json.end_date,\"dimensions\":[\"query\"],\"rowLimit\":15,\"orderBy\":[{\"fieldName\":\"clicks\",\"sortOrder\":\"DESCENDING\"}]} }}"
      }
    },
    {
      "id": "n7",
      "name": "GSC Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('GSC Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\"startDate\":$(\"JWT\").first().json.start_date,\"endDate\":$(\"JWT\").first().json.end_date,\"dimensions\":[\"page\"],\"rowLimit\":20,\"orderBy\":[{\"fieldName\":\"impressions\",\"sortOrder\":\"DESCENDING\"}]} }}"
      }
    },
    {
      "id": "n8",
      "name": "YM Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        760
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api-metrika.yandex.net/stat/v1/data?ids=105005697&metrics=ym:s:visits,ym:s:users&date1=30daysAgo&date2=yesterday&dimensions=ym:s:trafficSource&sort=-ym:s:visits&limit=8",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
            }
          ]
        }
      }
    },
    {
      "id": "n9",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        460
      ],
      "parameters": {
        "jsCode": "\n// GA4\nvar ga4 = $('GA4 Data').first().json;\nvar channels = {};\nvar ga4rows = (ga4.rows || []);\nfor (var i = 0; i < ga4rows.length; i++) {\n  var d = ga4rows[i].dimensionValues || [];\n  var m = ga4rows[i].metricValues || [];\n  var ch = (d[0] && d[0].value) ? d[0].value : 'Other';\n  channels[ch] = {\n    s: parseInt((m[0]&&m[0].value)?m[0].value:0),\n    c: parseFloat((m[1]&&m[1].value)?m[1].value:0),\n    r: parseFloat((m[2]&&m[2].value)?m[2].value:0)\n  };\n}\nvar ts=0, tr=0;\nfor (var k in channels) { ts+=channels[k].s; tr+=channels[k].r; }\nvar org = channels['Organic Search'] || {s:0,r:0,c:0};\n\n// GSC\nvar gRows = ($('GSC Queries').first().json.rows || []);\nvar tc=0, ti=0, wp=0;\nfor (var j=0; j<gRows.length; j++) { tc+=gRows[j].clicks; ti+=gRows[j].impressions; wp+=gRows[j].position*gRows[j].impressions; }\nvar avgP = ti>0 ? (wp/ti).toFixed(1) : '0';\nvar tq='';\nfor (var q=0; q<Math.min(12,gRows.length); q++) {\n  var rq=gRows[q];\n  tq+=rq.keys[0]+'|c:'+rq.clicks+' i:'+rq.impressions+' p:'+rq.position.toFixed(1)+' ctr:'+(rq.ctr*100).toFixed(1)+'%\\n';\n}\n\nvar gPRows = ($('GSC Pages').first().json.rows || []);\nvar tPages='', opp='';\nfor (var p=0; p<gPRows.length; p++) {\n  var pr=gPRows[p];\n  var url=pr.keys[0].replace('https://gaming-goods.ru','');\n  var tag=url.indexOf('/t/')===0?'[t]':url.indexOf('/marketplace/')===0?'[mp]':'[/]';\n  tPages+=tag+url+'|i:'+pr.impressions+' c:'+pr.clicks+' p:'+pr.position.toFixed(1)+' ctr:'+(pr.ctr*100).toFixed(1)+'%\\n';\n  if (pr.impressions>50 && pr.ctr<0.05 && pr.position<20) {\n    opp+=tag+url+'|i:'+pr.impressions+' c:'+pr.clicks+' p:'+pr.position.toFixed(1)+' ctr:'+(pr.ctr*100).toFixed(1)+'%\\n';\n  }\n}\n\n// Yandex\nvar ymData = ($('YM Data').first().json.data || []);\nvar ymT=0, ymO=0, ymD=0;\nfor (var y=0; y<ymData.length; y++) {\n  var v=Math.round(ymData[y].metrics[0]);\n  ymT+=v;\n  var src=(ymData[y].dimensions[0].name||'');\n  if (src.indexOf('Search')!==-1) ymO+=v;\n  if (src.indexOf('Direct')!==-1) ymD+=v;\n}\n\n// PostgreSQL SEO Health\nvar pgHealth = {};\nvar pgMissing = [];\ntry {\n  var h = $('PG SEO Health').first().json;\n  pgHealth = h.result || h;\n} catch(e) { pgHealth = {error: String(e)}; }\ntry {\n  var mv = $('PG Missing Titles').first().json;\n  pgMissing = mv.result || [];\n} catch(e) { pgMissing = []; }\n\nvar totalT   = pgHealth.total_ticker_pages || 0;\nvar withTitle = pgHealth.with_ru_title || 0;\nvar noTitle  = pgHealth.without_any_title || 0;\nvar titlePct = totalT > 0 ? Math.round(withTitle/totalT*100) : 0;\nvar updToday = pgHealth.updated_today || 0;\nvar updWeek  = pgHealth.updated_week  || 0;\n\nvar missingList = '';\nfor (var mi=0; mi<Math.min(5,pgMissing.length); mi++) {\n  var item = pgMissing[mi];\n  missingList += '/t/'+(item.slug_suggestion||'?')+'|ticker:'+(item.ticker||'?')+(item.ru_title?'':'|NO_TITLE')+'\\n';\n}\n\n// Canonical conflict: same slug in /t/ AND /marketplace/ in GSC\nvar tInGsc=[], mpInGsc=[];\nfor (var pi=0; pi<gPRows.length; pi++) {\n  var u=gPRows[pi].keys[0].replace('https://gaming-goods.ru','');\n  if (u.indexOf('/t/')===0) tInGsc.push({url:u, imp:gPRows[pi].impressions, pos:gPRows[pi].position});\n  if (u.indexOf('/marketplace/')===0) mpInGsc.push({url:u, imp:gPRows[pi].impressions, pos:gPRows[pi].position});\n}\nvar conflicts='';\nfor (var ti2=0; ti2<tInGsc.length; ti2++) {\n  var slug2=tInGsc[ti2].url.replace('/t/','').split('-')[0];\n  for (var mi2=0; mi2<mpInGsc.length; mi2++) {\n    if (mpInGsc[mi2].url.indexOf(slug2)!==-1) {\n      conflicts+=tInGsc[ti2].url+'(p:'+tInGsc[ti2].pos.toFixed(1)+') vs '+mpInGsc[mi2].url+'(p:'+mpInGsc[mi2].pos.toFixed(1)+')\\n';\n    }\n  }\n}\n\nvar jwtData = $('JWT').first().json;\nvar today = jwtData.end_date;\n\nvar userText =\n  'Date:'+today+\n  '\\nGA4: sessions='+ts+' organic='+org.s+' conv='+org.c.toFixed(0)+' rev_eur='+tr.toFixed(0)+\n  '\\nGSC: clicks='+tc+' impressions='+ti+' avgPos='+avgP+\n  '\\nTop queries:\\n'+tq+\n  '\\nGSC pages ([t]=exchange [mp]=marketplace):\\n'+tPages+\n  '\\nLow CTR opportunities:\\n'+(opp||'none')+\n  '\\nYandex: visits='+ymT+' organic='+ymO+' direct='+ymD+\n  '\\n\\n=== DB SEO HEALTH ==='+\n  '\\n/t/ pages: total='+totalT+' with_ru_title='+withTitle+'('+titlePct+'%) no_title='+noTitle+\n  '\\nupdated_today='+updToday+' updated_week='+updWeek+\n  '\\nRecent pages missing title:\\n'+(missingList||'none')+\n  '\\nCanonical conflicts (both /t/ and /marketplace/ in GSC):\\n'+(conflicts||'none detected');\n\nreturn [{json: {today: today, user_text: userText}}];\n"
      }
    },
    {
      "id": "n10",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"claude-opus-4-5\",\"max_tokens\":500,\"system\":\"\\u0422\\u044b SEO-\\u0430\\u0433\\u0435\\u043d\\u0442 gaming-goods.ru (Steam \\u043a\\u043b\\u044e\\u0447\\u0438, \\u0438\\u0433\\u0440\\u043e\\u0432\\u044b\\u0435 \\u0442\\u043e\\u0432\\u0430\\u0440\\u044b). \\u0421\\u0442\\u0440\\u0443\\u043a\\u0442\\u0443\\u0440\\u0430 URL: /t/{slug} = \\u0431\\u0438\\u0440\\u0436\\u0435\\u0432\\u0430\\u044f \\u043a\\u0430\\u0440\\u0442\\u043e\\u0447\\u043a\\u0430 (113K+ \\u0441\\u0442\\u0440\\u0430\\u043d\\u0438\\u0446), /marketplace/{slug} = \\u043a\\u043e\\u043d\\u0441\\u0442\\u0440\\u0443\\u043a\\u0442\\u043e\\u0440. \\u041f\\u0440\\u0430\\u0432\\u0438\\u043b\\u0430 \\u0430\\u043d\\u0430\\u043b\\u0438\\u0437\\u0430: 1) \\u0415\\u0441\\u043b\\u0438 no_title > 0 \\u2014 \\u044d\\u0442\\u043e \\u041f\\u0440\\u0438\\u043e\\u0440\\u0438\\u0442\\u0435\\u0442 1 (\\u043f\\u0440\\u0438\\u0447\\u0438\\u043d\\u0430 18K crawled-not-indexed). 2) Canonical conflict = Google \\u043d\\u0435 \\u0437\\u043d\\u0430\\u0435\\u0442 \\u0447\\u0442\\u043e \\u043f\\u0440\\u043e\\u0434\\u0432\\u0438\\u0433\\u0430\\u0442\\u044c \\u2014 \\u043d\\u0430\\u0437\\u044b\\u0432\\u0430\\u0439 \\u043a\\u043e\\u043d\\u043a\\u0440\\u0435\\u0442\\u043d\\u044b\\u0435 URL. 3) \\u0415\\u0441\\u043b\\u0438 /marketplace/ \\u043e\\u043f\\u0435\\u0440\\u0435\\u0436\\u0430\\u0435\\u0442 /t/ \\u043f\\u043e \\u043f\\u043e\\u0437\\u0438\\u0446\\u0438\\u0438 \\u2014 \\u044d\\u0442\\u043e \\u043f\\u0440\\u043e\\u0431\\u043b\\u0435\\u043c\\u0430. \\u041a\\u0430\\u0436\\u0434\\u044b\\u0439 \\u0434\\u0435\\u043d\\u044c: 1 \\u0438\\u043d\\u0441\\u0430\\u0439\\u0442 + 1 \\u043a\\u043e\\u043d\\u043a\\u0440\\u0435\\u0442\\u043d\\u043e\\u0435 \\u0434\\u0435\\u0439\\u0441\\u0442\\u0432\\u0438\\u0435 \\u0441 \\u0446\\u0438\\u0444\\u0440\\u0430\\u043c\\u0438. 6-10 \\u0441\\u0442\\u0440\\u043e\\u043a. \\u0420\\u0443\\u0441\\u0441\\u043a\\u0438\\u0439 \\u044f\\u0437\\u044b\\u043a. \\u0422\\u043e\\u043d \\u0438\\u043d\\u0432\\u0435\\u0441\\u0442\\u043e\\u0440\\u0443.\",\"messages\":[{\"role\":\"user\",\"content\":\"={{ $(\\\"Prepare\\\").first().json.user_text }}\"}]}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "xZPzwI0sOTN0iSp8",
          "name": "Anthropic API"
        }
      }
    },
    {
      "id": "n11",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        460
      ],
      "parameters": {
        "jsCode": "\nvar raw = $('Claude').first().json;\nvar content = raw.content || [];\nvar text = '';\nfor (var i=0; i<content.length; i++) {\n  if (content[i].type === 'text') { text = content[i].text; break; }\n}\nvar today = $('Prepare').first().json.today;\nreturn [{json: {message: '\\u{1F916} *SEO \\u0430\\u0433\\u0435\\u043D\\u0442 \\u00B7 ' + today + '*\\n\\n' + text}}];\n"
      }
    },
    {
      "id": "n12",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        460
      ],
      "parameters": {
        "chatId": "83436260",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "IjoBfA5jgnMrU9qV",
          "name": "GG Telegram Bot"
        }
      }
    },
    {
      "id": "pg1",
      "name": "PG SEO Health",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        760
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object('total_ticker_pages', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL),'with_ru_title', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND seo_data->'ru'->>'title' IS NOT NULL),'without_any_title', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND (seo_data IS NULL OR seo_data->'ru'->>'title' IS NULL)),'updated_today', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND updated_at > now() - interval '24h'),'updated_week', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND updated_at > now() - interval '7d')) as result",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "vMUuOggCtBWX48Jg",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "pg2",
      "name": "PG Missing Titles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        960
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_agg(t) as result FROM (SELECT slug_suggestion, ticker,seo_data->'ru'->>'title' as ru_title,seo_data->'en'->>'title' as en_title,updated_at::date as updated FROM marketplace WHERE slug_suggestion IS NOT NULL AND (seo_data IS NULL OR seo_data->'ru'->>'title' IS NULL) AND updated_at > now() - interval '7d' ORDER BY updated_at DESC LIMIT 10) t",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "vMUuOggCtBWX48Jg",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "GA4 Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 Token": {
      "main": [
        [
          {
            "node": "GA4 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 Data": {
      "main": [
        [
          {
            "node": "GSC Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Token": {
      "main": [
        [
          {
            "node": "GSC Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Queries": {
      "main": [
        [
          {
            "node": "GSC Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Pages": {
      "main": [
        [
          {
            "node": "YM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YM Data": {
      "main": [
        [
          {
            "node": "PG SEO Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG SEO Health": {
      "main": [
        [
          {
            "node": "PG Missing Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Missing Titles": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8064d227-fe69-41be-9c54-e7f766b316ab",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-05T15:46:23.879Z",
      "createdAt": "2026-03-05T15:46:23.879Z",
      "role": "workflow:owner",
      "workflowId": "iI3kYbrzbobvbklo",
      "projectId": "jCp1XTf5YwVTzsQI",
      "project": {
        "updatedAt": "2026-02-27T19:24:12.401Z",
        "createdAt": "2026-02-27T19:08:04.595Z",
        "id": "jCp1XTf5YwVTzsQI",
        "name": "Kirill Silvestrov <ceo@vvv.cash>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "50eeaeaf-1628-40cf-b2a8-89a7dcf2d74e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}