workflows/WF-204_Yandex_Recrawl.json
{"name": "[SEO] WF-204 Yandex Recrawl", "nodes": [{"id": "trigger", "name": "Schedule 04:00 UTC", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 24, "triggerAtHour": 4}]}}}, {"id": "pg-urls", "name": "PG: Get URLs", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [220, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "SELECT url FROM page_seo\nWHERE lang = 'ru'\n  AND url LIKE '%/t/%'\n  AND length(coalesce(description,'')) > 0\n  AND updated_at > now() - interval '2 days'\nORDER BY updated_at DESC\nLIMIT 890", "options": {"connectionTimeoutMillis": 15000}}}, {"id": "recrawl", "name": "Yandex Recrawl", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [760, 180], "parameters": {"method": "POST", "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/recrawl/queue", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ url: $json.url }) }}"}}, {"id": "aggregate", "name": "Aggregate Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 420], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const items = $input.all();\nconst urls = $('PG: Get URLs').all().map(i => i.json.url);\nconst ok = items.filter(i => i.json.task_id);\nconst errors = items.filter(i => i.json.error_code);\nreturn [{ json: {\n  count: ok.length,\n  errors: errors.length,\n  urls: urls,\n  task_ids: ok.map(i => i.json.task_id)\n} }];"}}, {"id": "get-quota", "name": "Get Quota", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [940, 300], "parameters": {"method": "GET", "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/recrawl/quota", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"}]}}}, {"id": "summary", "name": "Build Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 300], "parameters": {"jsCode": "const quota = $input.first().json;\nconst agg = $('Aggregate Results').first().json;\nconst remaining = quota.quota_remainder ?? '?';\nconst daily = quota.daily_quota ?? 890;\nconst used = daily - remaining;\n\nlet msg = `\ud83d\udd04 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl \u2014 \u0433\u043e\u0442\u043e\u0432\u043e\\n\\n`;\nmsg += `\u2705 \u041e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u043e: ${agg.count} URL\\n`;\nif (agg.errors > 0) msg += `\u274c \u041e\u0448\u0438\u0431\u043e\u043a: ${agg.errors}\\n`;\nmsg += `\ud83d\udcca \u041a\u0432\u043e\u0442\u0430: \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u043e ${used} / ${daily} (\u043e\u0441\u0442\u0430\u043b\u043e\u0441\u044c ${remaining})\\n\\n`;\nmsg += `\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u044b:\\n`;\nmsg += (agg.urls || []).map(u => `\u2022 ${u.replace('https://gaming-goods.ru','')}`).join('\\n');\n\nreturn [{ json: { message: msg } }];"}}, {"id": "telegram", "name": "Telegram Report", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1300, 300], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $json.message }}", "additionalFields": {}}}, {"id": "split-batch", "name": "Split By URL", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [400, 300], "parameters": {"batchSize": 1, "options": {}}}, {"id": "wait-1s", "name": "Wait 1s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [580, 300], "webhookId": "wf204-wait-1s", "parameters": {"unit": "seconds", "amount": 1}}], "connections": {"Schedule 04:00 UTC": {"main": [[{"node": "PG: Get URLs", "type": "main", "index": 0}]]}, "PG: Get URLs": {"main": [[{"node": "Split By URL", "type": "main", "index": 0}]]}, "Split By URL": {"main": [[{"node": "Wait 1s", "type": "main", "index": 0}], [{"node": "Aggregate Results", "type": "main", "index": 0}]]}, "Wait 1s": {"main": [[{"node": "Yandex Recrawl", "type": "main", "index": 0}]]}, "Yandex Recrawl": {"main": [[{"node": "Split By URL", "type": "main", "index": 0}]]}, "Aggregate Results": {"main": [[{"node": "Get Quota", "type": "main", "index": 0}]]}, "Get Quota": {"main": [[{"node": "Build Summary", "type": "main", "index": 0}]]}, "Build Summary": {"main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}