workflows/WF-203_Sales_Agent.json
{
  "name": "WF-203 Sales Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      },
      "id": "t-203",
      "name": "Cron Mon 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.system_prompt, ai.fn_sales_pipeline_data() AS data FROM ai.agent_settings s WHERE s.agent_name = 'sales';",
        "options": {}
      },
      "id": "pg-203",
      "name": "Get prompt+data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "LwmG3bwG5g2exyRt",
          "name": "GG ai_agent (5433)"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'claude-sonnet-4-5-20250929', max_tokens: 1500, system: $json.system_prompt, messages: [{role:'user', content: JSON.stringify($json.data)}] } }}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "a-203",
      "name": "Anthropic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xZPzwI0sOTN0iSp8",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const t=($input.first().json.content||[])[0]?.text||'';let p;try{p=JSON.parse(t.replace(/^```json\\s*/,'').replace(/```\\s*$/,''))}catch(e){p={summary:'parse fail',telegram_text:t.slice(0,400)}}return[{json:p}];"
      },
      "id": "p-203",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai.hourly_pulse (agent_name,pulse_at,status,summary,metrics) VALUES ('sales',NOW(),'idle',$1,$2::jsonb) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.summary || 'weekly digest', JSON.stringify($json)] }}"
        }
      },
      "id": "pl-203",
      "name": "Pulse",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "LwmG3bwG5g2exyRt",
          "name": "GG ai_agent (5433)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "83436260",
        "text": "={{ '💼 Sales · Понедельник\\n\\n' + ($json.telegram_text || 'no digest') }}",
        "additionalFields": {}
      },
      "id": "t2-203",
      "name": "TG",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "IjoBfA5jgnMrU9qV",
          "name": "GG Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Cron Mon 09:00": {
      "main": [
        [
          {
            "node": "Get prompt+data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt+data": {
      "main": [
        [
          {
            "node": "Anthropic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Pulse",
            "type": "main",
            "index": 0
          },
          {
            "node": "TG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}