workflows/WF-204_Yandex_Recrawl.json
{
  "name": "[SEO] WF-204 Yandex Recrawl",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "pg-urls",
      "name": "PG: Get URLs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [220, 300],
      "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}},
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url FROM page_seo WHERE lang = 'ru' AND url LIKE '%/t/%' AND length(coalesce(title,'')) > 0 ORDER BY updated_at DESC LIMIT 10",
        "options": {"connectionTimeoutMillis": 15000}
      }
    },
    {
      "id": "split",
      "name": "Split By URL",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "recrawl",
      "name": "Yandex Recrawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/recrawl/queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url }) }}"
      }
    },
    {
      "id": "code-collect",
      "name": "Collect Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200],
      "parameters": {
        "jsCode": "// Attach source URL to response for reporting\nconst resp = $input.first().json;\nconst sourceUrl = $('Split By URL').first().json.url;\nreturn [{ json: {\n  url: sourceUrl,\n  task_id: resp.task_id || 'error',\n  quota_remainder: resp.quota_remainder,\n  error: resp.error_message || null\n} }];"
      }
    },
    {
      "id": "summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 420],
      "parameters": {
        "jsCode": "const all = $input.all();\nconst ok = all.filter(i => !i.json.error);\nconst err = all.filter(i => i.json.error);\nconst quota = all[all.length-1]?.json?.quota_remainder ?? '?';\n\nlet msg = `🔄 Яндекс Recrawl — готово\\n\\n`;\nmsg += `✅ Отправлено: ${ok.length} URL\\n`;\nif (err.length) msg += `❌ Ошибок: ${err.length}\\n`;\nmsg += `📊 Квота осталась: ${quota}/890\\n\\nСтраницы:\\n`;\nmsg += ok.map(i => `• ${i.json.url}`).join('\\n');\nif (err.length) msg += '\\n\\nОшибки:\\n' + err.map(i => `• ${i.json.url}: ${i.json.error}`).join('\\n');\n\nreturn [{ json: { message: msg } }];"
      }
    },
    {
      "id": "telegram",
      "name": "Telegram Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 420],
      "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}},
      "parameters": {
        "chatId": "83436260",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "PG: Get URLs", "type": "main", "index": 0}]]},
    "PG: Get URLs": {"main": [[{"node": "Split By URL", "type": "main", "index": 0}]]},
    "Split By URL": {
      "main": [
        [{"node": "Yandex Recrawl", "type": "main", "index": 0}],
        [{"node": "Build Summary", "type": "main", "index": 0}]
      ]
    },
    "Yandex Recrawl": {"main": [[{"node": "Collect Result", "type": "main", "index": 0}]]},
    "Collect Result": {"main": [[{"node": "Split By URL", "type": "main", "index": 0}]]},
    "Build Summary": {"main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
