workflows/WF-201_GSC_GA4_SEO_Report.json
{
  "updatedAt": "2026-03-05T16:02:25.480Z",
  "createdAt": "2026-03-05T12:05:27.098Z",
  "id": "1EcezAM2sWYv6WSL",
  "name": "WF-201: GSC + GA4 Data Fetch",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "d96aae9d-be1e-412b-b3d3-0a9b890c0a2d",
      "name": "Schedule: Daily 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Pure JS RSA-SHA256 JWT — hardcoded key params (no DER parsing, no crypto imports)\n// Key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com\n\n// ── SHA-256 (pure JS) ─────────────────────────────────────────────\nfunction sha256bytes(msgArr) {\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const ml=msgArr.length,p=[...msgArr,0x80];\n  while(p.length%64!==56)p.push(0);\n  const bl=ml*8;\n  for(let i=7;i>=0;i--)p.push((bl/Math.pow(2,i*8))>>>0&0xff);\n  function r(v,n){return((v>>>n)|(v<<(32-n)))>>>0;}\n  for(let i=0;i<p.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w.push((p[i+j*4]<<24)|(p[i+j*4+1]<<16)|(p[i+j*4+2]<<8)|p[i+j*4+3]);\n    for(let j=16;j<64;j++){const s0=(r(w[j-15],7)^r(w[j-15],18)^(w[j-15]>>>3))>>>0,s1=(r(w[j-2],17)^r(w[j-2],19)^(w[j-2]>>>10))>>>0;w.push((w[j-16]+s0+w[j-7]+s1)>>>0);}\n    let[a,b,c,d,e,f,g,h]=[h0,h1,h2,h3,h4,h5,h6,h7];\n    for(let j=0;j<64;j++){const s1=(r(e,6)^r(e,11)^r(e,25))>>>0,ch=((e&f)^(~e&g))>>>0,t1=(h+s1+ch+K[j]+w[j])>>>0,s0=(r(a,2)^r(a,13)^r(a,22))>>>0,mj=((a&b)^(a&c)^(b&c))>>>0,t2=(s0+mj)>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  const out=[];for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])for(let i=3;i>=0;i--)out.push((v>>>(i*8))&0xff);\n  return out;\n}\n\n// ── RSA-2048 modpow (BigInt) ──────────────────────────────────────\n// Hardcoded key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com (key_id: 244e58378aec)\nconst N = BigInt('0xb30add3763363a87ce08a9b53875784e21e81e97577d9d7a8f8af671d1487fd43564b23ec954f4fe47892bb31ff4a07893b77ccef1d29ec4553230ec56db765b16a40db1d82de6244707c35b719bf35f19ab08e643720198e29c90f3bb0e42ece42b645733d2078852f91fb8acdd32fb9fa4c3caa4597db5cf242186eb34c922356bd71c612889fc447166f1665951e38d2c0c8498c87706f3a4f89ae4a22a15bec679e2a848c583c26907433bd7481c68575506d009ace79821a2db91897f98ad569b621168e88c1d691019da43bab2aedafcdffdf307c4b32bb8168d386806a0770458c3fc313ca377adb398a3a2811b8b853dc5e76da950d35b0f33efb64b');\nconst D = BigInt('0xac6ae1eddcd4f438a3e923c528c1b74146d5c9dfe4994b762395a70ea48434d59f3581918541134d6c866456f38718a2055ec60a6446782e89fcf3b02554e2fd85282728050eee7a310d00cca6f38fc31d6cdffd1f2642f38007566fe0cb3317fe02eb762ea92c27d3ffa4d4ab63b91d27f7fbb4c1e08c76f12bd23da37409dc0eb97666fb87e77f8a5874f11dcdf0a4782e24fc679d518fda1f2e9e534aabcc98d8e7e9aca19823ca366509ec48d0cfbc269aa02011de377821fb3881aca7549eb5d37bf507e49d13200ba6d47b1b9b0f66be937c9149244cf66d9c19e2f1ddc8f8bbca419625e42d03fac6b4dba7ddcaa1346284356019d37e52d02aa80b1');\n\nfunction modpow(b,exp,m){let r=1n;b=b%m;while(exp>0n){if(exp&1n)r=r*b%m;exp>>=1n;b=b*b%m;}return r;}\n\nconst SHA256_DER=[0x30,0x31,0x30,0x0d,0x06,0x09,0x60,0x86,0x48,0x01,0x65,0x03,0x04,0x02,0x01,0x05,0x00,0x04,0x20];\n\nfunction rsaSign(msgArr) {\n  const hash = sha256bytes(msgArr);\n  const T = [...SHA256_DER, ...hash]; // 19+32=51 bytes\n  const padLen = 256 - T.length - 3;  // 202 bytes of 0xff\n  const padded = [0x00, 0x01, ...Array(padLen).fill(0xff), 0x00, ...T];\n  const m = BigInt('0x' + padded.map(b=>b.toString(16).padStart(2,'0')).join(''));\n  const s = modpow(m, D, N);\n  const hex = s.toString(16).padStart(512,'0');\n  return Array.from({length:256},(_,i)=>parseInt(hex.slice(i*2,i*2+2),16));\n}\n\n// ── JWT builder ───────────────────────────────────────────────────\nfunction b64u(bytes){return btoa(String.fromCharCode(...bytes)).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction sb64u(s){return btoa(unescape(encodeURIComponent(s))).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction toBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048)b.push(0xc0|(c>>6),0x80|(c&0x3f));else b.push(0xe0|(c>>12),0x80|((c>>6)&0x3f),0x80|(c&0x3f));}return b;}\n\nfunction makeJWT(scope) {\n  const now = Math.floor(Date.now()/1000);\n  const hdr = sb64u(JSON.stringify({alg:'RS256',typ:'JWT'}));\n  const pld = sb64u(JSON.stringify({iss:'ga4-mcp@ru-gg-438811.iam.gserviceaccount.com',scope,aud:'https://oauth2.googleapis.com/token',iat:now,exp:now+3600}));\n  const sig = rsaSign(toBytes(hdr+'.'+pld));\n  return hdr+'.'+pld+'.'+b64u(sig);\n}\n\nconst sd = new Date(Date.now()-30*86400000).toISOString().split('T')[0];\nconst ed = new Date().toISOString().split('T')[0];\n\nreturn [{json:{\n  jwt_ga4: makeJWT('https://www.googleapis.com/auth/analytics.readonly'),\n  jwt_gsc: makeJWT('https://www.googleapis.com/auth/webmasters.readonly'),\n  start_date: sd, end_date: ed\n}}];\n"
      },
      "id": "4a181e72-a6e6-4cbb-8b88-6dfe2f7e2f15",
      "name": "Generate JWT Tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $('Generate JWT Tokens').first().json.jwt_ga4 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-ga4-token",
      "name": "Get GA4 Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $('Generate JWT Tokens').first().json.jwt_gsc }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-gsc-token",
      "name": "Get GSC Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://analyticsdata.googleapis.com/v1beta/properties/511167634:runReport",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Get GA4 Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"dateRanges\": [{\"startDate\": $('Generate JWT Tokens').first().json.start_date, \"endDate\": $('Generate JWT Tokens').first().json.end_date}], \"metrics\": [{\"name\": \"sessions\"}, {\"name\": \"conversions\"}, {\"name\": \"purchaseRevenue\"}], \"dimensions\": [{\"name\": \"sessionDefaultChannelGroup\"}] } }}",
        "options": {}
      },
      "id": "ga4-sessions",
      "name": "GA4: Sessions by Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Get GSC Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"startDate\": $('Generate JWT Tokens').first().json.start_date, \"endDate\": $('Generate JWT Tokens').first().json.end_date, \"dimensions\": [\"query\"], \"rowLimit\": 25, \"orderBy\": [{\"fieldName\": \"clicks\", \"sortOrder\": \"DESCENDING\"}] } }}",
        "options": {}
      },
      "id": "gsc-queries",
      "name": "GSC: Top Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Get GSC Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"startDate\": $('Generate JWT Tokens').first().json.start_date, \"endDate\": $('Generate JWT Tokens').first().json.end_date, \"dimensions\": [\"page\"], \"rowLimit\": 20, \"orderBy\": [{\"fieldName\": \"clicks\", \"sortOrder\": \"DESCENDING\"}] } }}",
        "options": {}
      },
      "id": "gsc-pages",
      "name": "GSC: Top Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "var ga4 = $('GA4: Sessions by Channel').first().json;\nvar gscQ = $('GSC: Top Queries').first().json;\nvar gscP = $('GSC: Top Pages').first().json;\nvar jwtData = $('Generate JWT Tokens').first().json;\nvar ymRaw = $('YM: Traffic 7 days').first().json;\n\nvar start_date = jwtData.start_date;\nvar end_date = jwtData.end_date;\n\n// GA4 parse - no optional chaining\nvar channels = {};\nvar ga4rows = ga4.rows || [];\nfor (var i = 0; i < ga4rows.length; i++) {\n  var row = ga4rows[i];\n  var dimVals = row.dimensionValues || [];\n  var metVals = row.metricValues || [];\n  var ch = (dimVals[0] && dimVals[0].value) ? dimVals[0].value : 'Other';\n  channels[ch] = {\n    sessions: parseInt((metVals[0] && metVals[0].value) ? metVals[0].value : 0),\n    conversions: parseFloat((metVals[1] && metVals[1].value) ? metVals[1].value : 0),\n    revenue: parseFloat((metVals[2] && metVals[2].value) ? metVals[2].value : 0)\n  };\n}\nvar totalRevenue = 0;\nvar totalSessions = 0;\nvar chKeys = Object.keys(channels);\nfor (var k = 0; k < chKeys.length; k++) {\n  totalSessions += channels[chKeys[k]].sessions;\n  totalRevenue += channels[chKeys[k]].revenue;\n}\nvar organic = channels['Organic Search'] || {sessions:0, revenue:0, conversions:0};\nvar direct = channels['Direct'] || {sessions:0};\nvar organicPct = totalSessions > 0 ? Math.round(organic.sessions / totalSessions * 100) : 0;\n\n// GSC\nvar gscRows = gscQ.rows || [];\nvar totalClicks = 0, totalImp = 0, weightedPos = 0;\nfor (var j = 0; j < gscRows.length; j++) {\n  totalClicks += gscRows[j].clicks;\n  totalImp += gscRows[j].impressions;\n  weightedPos += gscRows[j].position * gscRows[j].impressions;\n}\nvar avgCTR = totalImp > 0 ? (totalClicks / totalImp * 100).toFixed(1) : '0';\nvar avgPos = totalImp > 0 ? (weightedPos / totalImp).toFixed(1) : '0';\n\nvar topQ = '';\nvar qLimit = Math.min(8, gscRows.length);\nfor (var q = 0; q < qLimit; q++) {\n  var rq = gscRows[q];\n  topQ += '  ' + rq.keys[0] + ': ' + rq.clicks + ' кл, поз ' + rq.position.toFixed(1) + '\\n';\n}\n\nvar gscPRows = gscP.rows || [];\nvar topP = '';\nfor (var p = 0; p < Math.min(5, gscPRows.length); p++) {\n  var pr = gscPRows[p];\n  var url = pr.keys[0].replace('https://gaming-goods.ru', '') || '/';\n  topP += '  ' + url + ': ' + pr.clicks + ' кл, поз ' + pr.position.toFixed(1) + '\\n';\n}\n\n// Yandex Metrika\nvar ymData = ymRaw.data || [];\nvar ymTotal = 0, ymOrganic = 0, ymDirect = 0;\nfor (var ym = 0; ym < ymData.length; ym++) {\n  var src = ymData[ym].dimensions[0].name;\n  var vis = Math.round(ymData[ym].metrics[0]);\n  ymTotal += vis;\n  if (src.indexOf('Search') !== -1 || src.indexOf('search') !== -1) ymOrganic += vis;\n  if (src.indexOf('Direct') !== -1 || src.indexOf('direct') !== -1) ymDirect += vis;\n}\n\nvar fmt = function(n) { return Math.round(n).toLocaleString('ru-RU'); };\n\nvar msg = '📊 *SEO отчёт · ' + start_date + ' → ' + end_date + '*\\n\\n'\n  + '*Google GA4 (30 дней):*\\n'\n  + '  🔍 Organic: ' + fmt(organic.sessions) + ' (' + organicPct + '%) | Direct: ' + fmt(direct.sessions) + '\\n'\n  + '  💰 Revenue: €' + totalRevenue.toFixed(0) + ' | Конверсий: ' + organic.conversions.toFixed(0) + '\\n\\n'\n  + '*Google Search Console (30 дней):*\\n'\n  + '  👆 Кликов: ' + fmt(totalClicks) + ' | Показов: ' + fmt(totalImp) + '\\n'\n  + '  📈 CTR: ' + avgCTR + '% | Позиция avg: ' + avgPos + '\\n\\n'\n  + '*Яндекс Метрика (30 дней):*\\n'\n  + '  👤 Визитов: ' + fmt(ymTotal) + ' | Органика: ' + fmt(ymOrganic) + ' | Прямой: ' + fmt(ymDirect) + '\\n\\n'\n  + '*Топ Google запросы:*\\n' + topQ\n  + '\\n*Топ Google страницы:*\\n' + topP;\n\nreturn [{json: {message: msg}}];\n"
      },
      "id": "05c47802-e977-4298-8d0e-03b9a2429a57",
      "name": "Build SEO Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "83436260",
        "text": "={{ $('Build SEO Report').first().json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "0faff3cc-0d63-46fc-b0d2-6dfa9ffefcf7",
      "name": "Telegram: SEO Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        32
      ],
      "webhookId": "9760d037-6c51-4956-976b-4276aa8b23a1",
      "credentials": {
        "telegramApi": {
          "id": "IjoBfA5jgnMrU9qV",
          "name": "GG Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api-metrika.yandex.net/stat/v1/data?ids=105005697&metrics=ym:s:visits,ym:s:users,ym:s:bounceRate&date1=30daysAgo&date2=yesterday&dimensions=ym:s:trafficSource&sort=-ym:s:visits&limit=8",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
            }
          ]
        },
        "options": {}
      },
      "id": "nYM",
      "name": "YM: Traffic 7 days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        528
      ]
    }
  ],
  "connections": {
    "Schedule: Daily 06:00": {
      "main": [
        [
          {
            "node": "Generate JWT Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT Tokens": {
      "main": [
        [
          {
            "node": "Get GA4 Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GSC Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GA4 Token": {
      "main": [
        [
          {
            "node": "GA4: Sessions by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GSC Token": {
      "main": [
        [
          {
            "node": "GSC: Top Queries",
            "type": "main",
            "index": 0
          },
          {
            "node": "GSC: Top Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC: Top Pages": {
      "main": [
        [
          {
            "node": "YM: Traffic 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YM: Traffic 7 days": {
      "main": [
        [
          {
            "node": "Build SEO Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SEO Report": {
      "main": [
        [
          {
            "node": "Telegram: SEO Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule: Daily 06:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "faa7634f-0b1c-4b77-b065-42948bfbb128",
  "activeVersionId": "faa7634f-0b1c-4b77-b065-42948bfbb128",
  "versionCounter": 45,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-05T12:05:27.098Z",
      "createdAt": "2026-03-05T12:05:27.098Z",
      "role": "workflow:owner",
      "workflowId": "1EcezAM2sWYv6WSL",
      "projectId": "jCp1XTf5YwVTzsQI",
      "project": {
        "updatedAt": "2026-02-27T19:24:12.401Z",
        "createdAt": "2026-02-27T19:08:04.595Z",
        "id": "jCp1XTf5YwVTzsQI",
        "name": "Kirill Silvestrov <ceo@vvv.cash>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "50eeaeaf-1628-40cf-b2a8-89a7dcf2d74e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-05T16:02:25.482Z",
    "createdAt": "2026-03-05T16:02:25.482Z",
    "versionId": "faa7634f-0b1c-4b77-b065-42948bfbb128",
    "workflowId": "1EcezAM2sWYv6WSL",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * *"
              }
            ]
          }
        },
        "id": "d96aae9d-be1e-412b-b3d3-0a9b890c0a2d",
        "name": "Schedule: Daily 06:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "\n// Pure JS RSA-SHA256 JWT — hardcoded key params (no DER parsing, no crypto imports)\n// Key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com\n\n// ── SHA-256 (pure JS) ─────────────────────────────────────────────\nfunction sha256bytes(msgArr) {\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const ml=msgArr.length,p=[...msgArr,0x80];\n  while(p.length%64!==56)p.push(0);\n  const bl=ml*8;\n  for(let i=7;i>=0;i--)p.push((bl/Math.pow(2,i*8))>>>0&0xff);\n  function r(v,n){return((v>>>n)|(v<<(32-n)))>>>0;}\n  for(let i=0;i<p.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w.push((p[i+j*4]<<24)|(p[i+j*4+1]<<16)|(p[i+j*4+2]<<8)|p[i+j*4+3]);\n    for(let j=16;j<64;j++){const s0=(r(w[j-15],7)^r(w[j-15],18)^(w[j-15]>>>3))>>>0,s1=(r(w[j-2],17)^r(w[j-2],19)^(w[j-2]>>>10))>>>0;w.push((w[j-16]+s0+w[j-7]+s1)>>>0);}\n    let[a,b,c,d,e,f,g,h]=[h0,h1,h2,h3,h4,h5,h6,h7];\n    for(let j=0;j<64;j++){const s1=(r(e,6)^r(e,11)^r(e,25))>>>0,ch=((e&f)^(~e&g))>>>0,t1=(h+s1+ch+K[j]+w[j])>>>0,s0=(r(a,2)^r(a,13)^r(a,22))>>>0,mj=((a&b)^(a&c)^(b&c))>>>0,t2=(s0+mj)>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  const out=[];for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])for(let i=3;i>=0;i--)out.push((v>>>(i*8))&0xff);\n  return out;\n}\n\n// ── RSA-2048 modpow (BigInt) ──────────────────────────────────────\n// Hardcoded key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com (key_id: 244e58378aec)\nconst N = BigInt('0xb30add3763363a87ce08a9b53875784e21e81e97577d9d7a8f8af671d1487fd43564b23ec954f4fe47892bb31ff4a07893b77ccef1d29ec4553230ec56db765b16a40db1d82de6244707c35b719bf35f19ab08e643720198e29c90f3bb0e42ece42b645733d2078852f91fb8acdd32fb9fa4c3caa4597db5cf242186eb34c922356bd71c612889fc447166f1665951e38d2c0c8498c87706f3a4f89ae4a22a15bec679e2a848c583c26907433bd7481c68575506d009ace79821a2db91897f98ad569b621168e88c1d691019da43bab2aedafcdffdf307c4b32bb8168d386806a0770458c3fc313ca377adb398a3a2811b8b853dc5e76da950d35b0f33efb64b');\nconst D = BigInt('0xac6ae1eddcd4f438a3e923c528c1b74146d5c9dfe4994b762395a70ea48434d59f3581918541134d6c866456f38718a2055ec60a6446782e89fcf3b02554e2fd85282728050eee7a310d00cca6f38fc31d6cdffd1f2642f38007566fe0cb3317fe02eb762ea92c27d3ffa4d4ab63b91d27f7fbb4c1e08c76f12bd23da37409dc0eb97666fb87e77f8a5874f11dcdf0a4782e24fc679d518fda1f2e9e534aabcc98d8e7e9aca19823ca366509ec48d0cfbc269aa02011de377821fb3881aca7549eb5d37bf507e49d13200ba6d47b1b9b0f66be937c9149244cf66d9c19e2f1ddc8f8bbca419625e42d03fac6b4dba7ddcaa1346284356019d37e52d02aa80b1');\n\nfunction modpow(b,exp,m){let r=1n;b=b%m;while(exp>0n){if(exp&1n)r=r*b%m;exp>>=1n;b=b*b%m;}return r;}\n\nconst SHA256_DER=[0x30,0x31,0x30,0x0d,0x06,0x09,0x60,0x86,0x48,0x01,0x65,0x03,0x04,0x02,0x01,0x05,0x00,0x04,0x20];\n\nfunction rsaSign(msgArr) {\n  const hash = sha256bytes(msgArr);\n  const T = [...SHA256_DER, ...hash]; // 19+32=51 bytes\n  const padLen = 256 - T.length - 3;  // 202 bytes of 0xff\n  const padded = [0x00, 0x01, ...Array(padLen).fill(0xff), 0x00, ...T];\n  const m = BigInt('0x' + padded.map(b=>b.toString(16).padStart(2,'0')).join(''));\n  const s = modpow(m, D, N);\n  const hex = s.toString(16).padStart(512,'0');\n  return Array.from({length:256},(_,i)=>parseInt(hex.slice(i*2,i*2+2),16));\n}\n\n// ── JWT builder ───────────────────────────────────────────────────\nfunction b64u(bytes){return btoa(String.fromCharCode(...bytes)).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction sb64u(s){return btoa(unescape(encodeURIComponent(s))).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction toBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048)b.push(0xc0|(c>>6),0x80|(c&0x3f));else b.push(0xe0|(c>>12),0x80|((c>>6)&0x3f),0x80|(c&0x3f));}return b;}\n\nfunction makeJWT(scope) {\n  const now = Math.floor(Date.now()/1000);\n  const hdr = sb64u(JSON.stringify({alg:'RS256',typ:'JWT'}));\n  const pld = sb64u(JSON.stringify({iss:'ga4-mcp@ru-gg-438811.iam.gserviceaccount.com',scope,aud:'https://oauth2.googleapis.com/token',iat:now,exp:now+3600}));\n  const sig = rsaSign(toBytes(hdr+'.'+pld));\n  return hdr+'.'+pld+'.'+b64u(sig);\n}\n\nconst sd = new Date(Date.now()-30*86400000).toISOString().split('T')[0];\nconst ed = new Date().toISOString().split('T')[0];\n\nreturn [{json:{\n  jwt_ga4: makeJWT('https://www.googleapis.com/auth/analytics.readonly'),\n  jwt_gsc: makeJWT('https://www.googleapis.com/auth/webmasters.readonly'),\n  start_date: sd, end_date: ed\n}}];\n"
        },
        "id": "4a181e72-a6e6-4cbb-8b88-6dfe2f7e2f15",
        "name": "Generate JWT Tokens",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://oauth2.googleapis.com/token",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
              },
              {
                "name": "assertion",
                "value": "={{ $('Generate JWT Tokens').first().json.jwt_ga4 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "get-ga4-token",
        "name": "Get GA4 Token",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          640,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://oauth2.googleapis.com/token",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
              },
              {
                "name": "assertion",
                "value": "={{ $('Generate JWT Tokens').first().json.jwt_gsc }}"
              }
            ]
          },
          "options": {}
        },
        "id": "get-gsc-token",
        "name": "Get GSC Token",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          640,
          448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://analyticsdata.googleapis.com/v1beta/properties/511167634:runReport",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Get GA4 Token').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"dateRanges\": [{\"startDate\": $('Generate JWT Tokens').first().json.start_date, \"endDate\": $('Generate JWT Tokens').first().json.end_date}], \"metrics\": [{\"name\": \"sessions\"}, {\"name\": \"conversions\"}, {\"name\": \"purchaseRevenue\"}], \"dimensions\": [{\"name\": \"sessionDefaultChannelGroup\"}] } }}",
          "options": {}
        },
        "id": "ga4-sessions",
        "name": "GA4: Sessions by Channel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Get GSC Token').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"startDate\": $('Generate JWT Tokens').first().json.start_date, \"endDate\": $('Generate JWT Tokens').first().json.end_date, \"dimensions\": [\"query\"], \"rowLimit\": 25, \"orderBy\": [{\"fieldName\": \"clicks\", \"sortOrder\": \"DESCENDING\"}] } }}",
          "options": {}
        },
        "id": "gsc-queries",
        "name": "GSC: Top Queries",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Get GSC Token').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"startDate\": $('Generate JWT Tokens').first().json.start_date, \"endDate\": $('Generate JWT Tokens').first().json.end_date, \"dimensions\": [\"page\"], \"rowLimit\": 20, \"orderBy\": [{\"fieldName\": \"clicks\", \"sortOrder\": \"DESCENDING\"}] } }}",
          "options": {}
        },
        "id": "gsc-pages",
        "name": "GSC: Top Pages",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "var ga4 = $('GA4: Sessions by Channel').first().json;\nvar gscQ = $('GSC: Top Queries').first().json;\nvar gscP = $('GSC: Top Pages').first().json;\nvar jwtData = $('Generate JWT Tokens').first().json;\nvar ymRaw = $('YM: Traffic 7 days').first().json;\n\nvar start_date = jwtData.start_date;\nvar end_date = jwtData.end_date;\n\n// GA4 parse - no optional chaining\nvar channels = {};\nvar ga4rows = ga4.rows || [];\nfor (var i = 0; i < ga4rows.length; i++) {\n  var row = ga4rows[i];\n  var dimVals = row.dimensionValues || [];\n  var metVals = row.metricValues || [];\n  var ch = (dimVals[0] && dimVals[0].value) ? dimVals[0].value : 'Other';\n  channels[ch] = {\n    sessions: parseInt((metVals[0] && metVals[0].value) ? metVals[0].value : 0),\n    conversions: parseFloat((metVals[1] && metVals[1].value) ? metVals[1].value : 0),\n    revenue: parseFloat((metVals[2] && metVals[2].value) ? metVals[2].value : 0)\n  };\n}\nvar totalRevenue = 0;\nvar totalSessions = 0;\nvar chKeys = Object.keys(channels);\nfor (var k = 0; k < chKeys.length; k++) {\n  totalSessions += channels[chKeys[k]].sessions;\n  totalRevenue += channels[chKeys[k]].revenue;\n}\nvar organic = channels['Organic Search'] || {sessions:0, revenue:0, conversions:0};\nvar direct = channels['Direct'] || {sessions:0};\nvar organicPct = totalSessions > 0 ? Math.round(organic.sessions / totalSessions * 100) : 0;\n\n// GSC\nvar gscRows = gscQ.rows || [];\nvar totalClicks = 0, totalImp = 0, weightedPos = 0;\nfor (var j = 0; j < gscRows.length; j++) {\n  totalClicks += gscRows[j].clicks;\n  totalImp += gscRows[j].impressions;\n  weightedPos += gscRows[j].position * gscRows[j].impressions;\n}\nvar avgCTR = totalImp > 0 ? (totalClicks / totalImp * 100).toFixed(1) : '0';\nvar avgPos = totalImp > 0 ? (weightedPos / totalImp).toFixed(1) : '0';\n\nvar topQ = '';\nvar qLimit = Math.min(8, gscRows.length);\nfor (var q = 0; q < qLimit; q++) {\n  var rq = gscRows[q];\n  topQ += '  ' + rq.keys[0] + ': ' + rq.clicks + ' кл, поз ' + rq.position.toFixed(1) + '\\n';\n}\n\nvar gscPRows = gscP.rows || [];\nvar topP = '';\nfor (var p = 0; p < Math.min(5, gscPRows.length); p++) {\n  var pr = gscPRows[p];\n  var url = pr.keys[0].replace('https://gaming-goods.ru', '') || '/';\n  topP += '  ' + url + ': ' + pr.clicks + ' кл, поз ' + pr.position.toFixed(1) + '\\n';\n}\n\n// Yandex Metrika\nvar ymData = ymRaw.data || [];\nvar ymTotal = 0, ymOrganic = 0, ymDirect = 0;\nfor (var ym = 0; ym < ymData.length; ym++) {\n  var src = ymData[ym].dimensions[0].name;\n  var vis = Math.round(ymData[ym].metrics[0]);\n  ymTotal += vis;\n  if (src.indexOf('Search') !== -1 || src.indexOf('search') !== -1) ymOrganic += vis;\n  if (src.indexOf('Direct') !== -1 || src.indexOf('direct') !== -1) ymDirect += vis;\n}\n\nvar fmt = function(n) { return Math.round(n).toLocaleString('ru-RU'); };\n\nvar msg = '📊 *SEO отчёт · ' + start_date + ' → ' + end_date + '*\\n\\n'\n  + '*Google GA4 (30 дней):*\\n'\n  + '  🔍 Organic: ' + fmt(organic.sessions) + ' (' + organicPct + '%) | Direct: ' + fmt(direct.sessions) + '\\n'\n  + '  💰 Revenue: €' + totalRevenue.toFixed(0) + ' | Конверсий: ' + organic.conversions.toFixed(0) + '\\n\\n'\n  + '*Google Search Console (30 дней):*\\n'\n  + '  👆 Кликов: ' + fmt(totalClicks) + ' | Показов: ' + fmt(totalImp) + '\\n'\n  + '  📈 CTR: ' + avgCTR + '% | Позиция avg: ' + avgPos + '\\n\\n'\n  + '*Яндекс Метрика (30 дней):*\\n'\n  + '  👤 Визитов: ' + fmt(ymTotal) + ' | Органика: ' + fmt(ymOrganic) + ' | Прямой: ' + fmt(ymDirect) + '\\n\\n'\n  + '*Топ Google запросы:*\\n' + topQ\n  + '\\n*Топ Google страницы:*\\n' + topP;\n\nreturn [{json: {message: msg}}];\n"
        },
        "id": "05c47802-e977-4298-8d0e-03b9a2429a57",
        "name": "Build SEO Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          192
        ]
      },
      {
        "parameters": {
          "chatId": "83436260",
          "text": "={{ $('Build SEO Report').first().json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "0faff3cc-0d63-46fc-b0d2-6dfa9ffefcf7",
        "name": "Telegram: SEO Report",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          640,
          32
        ],
        "webhookId": "9760d037-6c51-4956-976b-4276aa8b23a1",
        "credentials": {
          "telegramApi": {
            "id": "IjoBfA5jgnMrU9qV",
            "name": "GG Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api-metrika.yandex.net/stat/v1/data?ids=105005697&metrics=ym:s:visits,ym:s:users,ym:s:bounceRate&date1=30daysAgo&date2=yesterday&dimensions=ym:s:trafficSource&sort=-ym:s:visits&limit=8",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
              }
            ]
          },
          "options": {}
        },
        "id": "nYM",
        "name": "YM: Traffic 7 days",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          528
        ]
      }
    ],
    "connections": {
      "Schedule: Daily 06:00": {
        "main": [
          [
            {
              "node": "Generate JWT Tokens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate JWT Tokens": {
        "main": [
          [
            {
              "node": "Get GA4 Token",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get GSC Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GA4 Token": {
        "main": [
          [
            {
              "node": "GA4: Sessions by Channel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GSC Token": {
        "main": [
          [
            {
              "node": "GSC: Top Queries",
              "type": "main",
              "index": 0
            },
            {
              "node": "GSC: Top Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GSC: Top Pages": {
        "main": [
          [
            {
              "node": "YM: Traffic 7 days",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YM: Traffic 7 days": {
        "main": [
          [
            {
              "node": "Build SEO Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build SEO Report": {
        "main": [
          [
            {
              "node": "Telegram: SEO Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kirill Silvestrov",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-05T16:02:25.678Z",
        "id": 157,
        "workflowId": "1EcezAM2sWYv6WSL",
        "versionId": "faa7634f-0b1c-4b77-b065-42948bfbb128",
        "event": "deactivated",
        "userId": "50eeaeaf-1628-40cf-b2a8-89a7dcf2d74e"
      },
      {
        "createdAt": "2026-03-05T16:02:25.777Z",
        "id": 158,
        "workflowId": "1EcezAM2sWYv6WSL",
        "versionId": "faa7634f-0b1c-4b77-b065-42948bfbb128",
        "event": "activated",
        "userId": "50eeaeaf-1628-40cf-b2a8-89a7dcf2d74e"
      }
    ]
  }
}