workflows/WF-205_Weekly_SEO_Audit.json
{
  "name": "[SEO] WF-205 Weekly SEO Audit",
  "active": false,
  "nodes": [
    {
      "id": "s1",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "jwt",
      "name": "JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "\n// Pure JS RSA-SHA256 JWT \u2014 hardcoded key params (no DER parsing, no crypto imports)\n// Key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com\n\n// \u2500\u2500 SHA-256 (pure JS) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction sha256bytes(msgArr) {\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const ml=msgArr.length,p=[...msgArr,0x80];\n  while(p.length%64!==56)p.push(0);\n  const bl=ml*8;\n  for(let i=7;i>=0;i--)p.push((bl/Math.pow(2,i*8))>>>0&0xff);\n  function r(v,n){return((v>>>n)|(v<<(32-n)))>>>0;}\n  for(let i=0;i<p.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w.push((p[i+j*4]<<24)|(p[i+j*4+1]<<16)|(p[i+j*4+2]<<8)|p[i+j*4+3]);\n    for(let j=16;j<64;j++){const s0=(r(w[j-15],7)^r(w[j-15],18)^(w[j-15]>>>3))>>>0,s1=(r(w[j-2],17)^r(w[j-2],19)^(w[j-2]>>>10))>>>0;w.push((w[j-16]+s0+w[j-7]+s1)>>>0);}\n    let[a,b,c,d,e,f,g,h]=[h0,h1,h2,h3,h4,h5,h6,h7];\n    for(let j=0;j<64;j++){const s1=(r(e,6)^r(e,11)^r(e,25))>>>0,ch=((e&f)^(~e&g))>>>0,t1=(h+s1+ch+K[j]+w[j])>>>0,s0=(r(a,2)^r(a,13)^r(a,22))>>>0,mj=((a&b)^(a&c)^(b&c))>>>0,t2=(s0+mj)>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}\n    h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;\n  }\n  const out=[];for(const v of[h0,h1,h2,h3,h4,h5,h6,h7])for(let i=3;i>=0;i--)out.push((v>>>(i*8))&0xff);\n  return out;\n}\n\n// \u2500\u2500 RSA-2048 modpow (BigInt) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Hardcoded key: ga4-mcp@ru-gg-438811.iam.gserviceaccount.com (key_id: 244e58378aec)\nconst N = BigInt('0xb30add3763363a87ce08a9b53875784e21e81e97577d9d7a8f8af671d1487fd43564b23ec954f4fe47892bb31ff4a07893b77ccef1d29ec4553230ec56db765b16a40db1d82de6244707c35b719bf35f19ab08e643720198e29c90f3bb0e42ece42b645733d2078852f91fb8acdd32fb9fa4c3caa4597db5cf242186eb34c922356bd71c612889fc447166f1665951e38d2c0c8498c87706f3a4f89ae4a22a15bec679e2a848c583c26907433bd7481c68575506d009ace79821a2db91897f98ad569b621168e88c1d691019da43bab2aedafcdffdf307c4b32bb8168d386806a0770458c3fc313ca377adb398a3a2811b8b853dc5e76da950d35b0f33efb64b');\nconst D = BigInt('0xac6ae1eddcd4f438a3e923c528c1b74146d5c9dfe4994b762395a70ea48434d59f3581918541134d6c866456f38718a2055ec60a6446782e89fcf3b02554e2fd85282728050eee7a310d00cca6f38fc31d6cdffd1f2642f38007566fe0cb3317fe02eb762ea92c27d3ffa4d4ab63b91d27f7fbb4c1e08c76f12bd23da37409dc0eb97666fb87e77f8a5874f11dcdf0a4782e24fc679d518fda1f2e9e534aabcc98d8e7e9aca19823ca366509ec48d0cfbc269aa02011de377821fb3881aca7549eb5d37bf507e49d13200ba6d47b1b9b0f66be937c9149244cf66d9c19e2f1ddc8f8bbca419625e42d03fac6b4dba7ddcaa1346284356019d37e52d02aa80b1');\n\nfunction modpow(b,exp,m){let r=1n;b=b%m;while(exp>0n){if(exp&1n)r=r*b%m;exp>>=1n;b=b*b%m;}return r;}\n\nconst SHA256_DER=[0x30,0x31,0x30,0x0d,0x06,0x09,0x60,0x86,0x48,0x01,0x65,0x03,0x04,0x02,0x01,0x05,0x00,0x04,0x20];\n\nfunction rsaSign(msgArr) {\n  const hash = sha256bytes(msgArr);\n  const T = [...SHA256_DER, ...hash]; // 19+32=51 bytes\n  const padLen = 256 - T.length - 3;  // 202 bytes of 0xff\n  const padded = [0x00, 0x01, ...Array(padLen).fill(0xff), 0x00, ...T];\n  const m = BigInt('0x' + padded.map(b=>b.toString(16).padStart(2,'0')).join(''));\n  const s = modpow(m, D, N);\n  const hex = s.toString(16).padStart(512,'0');\n  return Array.from({length:256},(_,i)=>parseInt(hex.slice(i*2,i*2+2),16));\n}\n\n// \u2500\u2500 JWT builder \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction b64u(bytes){return btoa(String.fromCharCode(...bytes)).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction sb64u(s){return btoa(unescape(encodeURIComponent(s))).replace(/=/g,'').replace(/\\+/g,'-').replace(/\\//g,'_');}\nfunction toBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048)b.push(0xc0|(c>>6),0x80|(c&0x3f));else b.push(0xe0|(c>>12),0x80|((c>>6)&0x3f),0x80|(c&0x3f));}return b;}\n\nfunction makeJWT(scope) {\n  const now = Math.floor(Date.now()/1000);\n  const hdr = sb64u(JSON.stringify({alg:'RS256',typ:'JWT'}));\n  const pld = sb64u(JSON.stringify({iss:'ga4-mcp@ru-gg-438811.iam.gserviceaccount.com',scope,aud:'https://oauth2.googleapis.com/token',iat:now,exp:now+3600}));\n  const sig = rsaSign(toBytes(hdr+'.'+pld));\n  return hdr+'.'+pld+'.'+b64u(sig);\n}\n\nconst sd = new Date(Date.now()-30*86400000).toISOString().split('T')[0];\nconst ed = new Date().toISOString().split('T')[0];\n\nreturn [{json:{\n  jwt_ga4: makeJWT('https://www.googleapis.com/auth/analytics.readonly'),\n  jwt_gsc: makeJWT('https://www.googleapis.com/auth/webmasters.readonly'),\n  start_date: sd, end_date: ed\n}}];\n"
      }
    },
    {
      "id": "ga4_token",
      "name": "GA4 Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $('JWT').first().json.jwt_ga4 }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ga4_data",
      "name": "GA4 Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://analyticsdata.googleapis.com/v1beta/properties/511167634:runReport",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('GA4 Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\"dateRanges\":[{\"startDate\":$(\"JWT\").first().json.start_date,\"endDate\":$(\"JWT\").first().json.end_date}],\"metrics\":[{\"name\":\"sessions\"},{\"name\":\"conversions\"},{\"name\":\"purchaseRevenue\"}],\"dimensions\":[{\"name\":\"sessionDefaultChannelGroup\"}]} }}"
      }
    },
    {
      "id": "gsc_token",
      "name": "GSC Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $('JWT').first().json.jwt_gsc }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "gsc_queries",
      "name": "GSC Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('GSC Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\"startDate\":$(\"JWT\").first().json.start_date,\"endDate\":$(\"JWT\").first().json.end_date,\"dimensions\":[\"query\"],\"rowLimit\":15,\"orderBy\":[{\"fieldName\":\"clicks\",\"sortOrder\":\"DESCENDING\"}]} }}"
      }
    },
    {
      "id": "gsc_pages",
      "name": "GSC Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Agaming-goods.ru/searchAnalytics/query",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('GSC Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\"startDate\":$(\"JWT\").first().json.start_date,\"endDate\":$(\"JWT\").first().json.end_date,\"dimensions\":[\"page\"],\"rowLimit\":20,\"orderBy\":[{\"fieldName\":\"impressions\",\"sortOrder\":\"DESCENDING\"}]} }}"
      }
    },
    {
      "id": "ym_data",
      "name": "YM Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        760
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api-metrika.yandex.net/stat/v1/data?ids=105005697&metrics=ym:s:visits,ym:s:users&date1=30daysAgo&date2=yesterday&dimensions=ym:s:trafficSource&sort=-ym:s:visits&limit=8",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"
            }
          ]
        }
      }
    },
    {
      "id": "pg_health",
      "name": "PG SEO Health",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        760
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object('total_ticker_pages', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL),'with_ru_title', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND seo_data->'ru'->>'title' IS NOT NULL),'without_any_title', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND (seo_data IS NULL OR seo_data->'ru'->>'title' IS NULL)),'updated_today', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND updated_at > now() - interval '24h'),'updated_week', (SELECT COUNT(*) FROM marketplace WHERE slug_suggestion IS NOT NULL AND updated_at > now() - interval '7d')) as result",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "vMUuOggCtBWX48Jg",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "pg_missing",
      "name": "PG Missing Titles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        960
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_agg(t) as result FROM (SELECT slug_suggestion, ticker,seo_data->'ru'->>'title' as ru_title,seo_data->'en'->>'title' as en_title,updated_at::date as updated FROM marketplace WHERE slug_suggestion IS NOT NULL AND (seo_data IS NULL OR seo_data->'ru'->>'title' IS NULL) AND updated_at > now() - interval '7d' ORDER BY updated_at DESC LIMIT 10) t",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "vMUuOggCtBWX48Jg",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "pg_snap_read",
      "name": "PG Snapshot READ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "vMUuOggCtBWX48Jg",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT context_data FROM ai_manager_context WHERE manager_id = 'seo_weekly_snapshot' ORDER BY updated_at DESC LIMIT 1",
        "options": {}
      }
    },
    {
      "id": "prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "jsCode": "\n// === CURRENT: GA4 ===\nvar ga4 = $('GA4 Data').first().json;\nvar channels = {};\nvar ga4rows = (ga4.rows || []);\nfor (var i = 0; i < ga4rows.length; i++) {\n  var rv = ga4rows[i].dimensionValues || [];\n  var mv = ga4rows[i].metricValues || [];\n  var ch = (rv[0] && rv[0].value) ? rv[0].value : 'Other';\n  channels[ch] = {\n    s: parseInt((mv[0]&&mv[0].value)?mv[0].value:0),\n    c: parseFloat((mv[1]&&mv[1].value)?mv[1].value:0),\n    r: parseFloat((mv[2]&&mv[2].value)?mv[2].value:0)\n  };\n}\nvar ts=0, tr=0;\nfor (var k in channels) { ts+=channels[k].s; tr+=channels[k].r; }\nvar org = channels['Organic Search'] || {s:0,r:0,c:0};\n\n// === CURRENT: GSC ===\nvar gRows = ($('GSC Queries').first().json.rows || []);\nvar tc=0, ti=0, posSum=0;\nfor (var j=0; j<gRows.length; j++) {\n  tc+=gRows[j].clicks;\n  ti+=gRows[j].impressions;\n  posSum+=gRows[j].position;\n}\nvar avgPos = gRows.length>0 ? (posSum/gRows.length).toFixed(1) : '0';\nvar avgCtr = ti>0 ? ((tc/ti)*100).toFixed(1) : '0';\n\n// === CURRENT: YM ===\nvar ymData = $('YM Data').first().json;\nvar ymOrders = (ymData.pager && ymData.pager.total) ? ymData.pager.total : 0;\n\n// === CURRENT: PG Health ===\nvar pgRaw = $('PG SEO Health').first().json;\nvar pg = pgRaw.result || pgRaw[0] || pgRaw;\nvar noTitle = parseInt(pg.without_any_title || 0);\nvar withTitle = parseInt(pg.with_ru_title || 0);\nvar totalTicker = parseInt(pg.total_ticker_pages || 0);\nvar updWeek = parseInt(pg.updated_week || 0);\nvar updToday = parseInt(pg.updated_today || 0);\n\n// === CURRENT: Missing Titles ===\nvar missRaw = $('PG Missing Titles').first().json;\nvar missArr = Array.isArray(missRaw) ? missRaw : (missRaw.result || []);\nvar missingList = (missArr || []).slice(0,5).map(function(r){ return '/t/'+r.slug_suggestion; }).join('\\n');\n\n// === PREVIOUS SNAPSHOT ===\nvar prev = {};\nvar hasPrev = false;\ntry {\n  var snapNode = $('PG Snapshot READ').first().json;\n  if (snapNode && snapNode.context_data) {\n    prev = snapNode.context_data;\n    hasPrev = true;\n  }\n} catch(e) {}\n\nfunction d(curr, p, unit) {\n  if (!hasPrev || p===null||p===undefined) return '';\n  var diff = curr - p;\n  var s = diff>=0?'+':'';\n  return ' ('+s+diff+(unit||')+')';\n}\nfunction df(curr, p, unit) {\n  if (!hasPrev || p===null||p===undefined) return '';\n  var diff = (curr-p).toFixed(1);\n  var s = diff>=0?'+':'';\n  return ' ('+s+diff+(unit||'')+')';\n}\n\nvar today = new Date().toISOString().slice(0,10);\n\n// === SNAPSHOT TO SAVE ===\nvar snapshot = {\n  date: today,\n  clicks_7d: tc,\n  impressions_7d: ti,\n  avg_position: parseFloat(avgPos),\n  avg_ctr: parseFloat(avgCtr),\n  organic_sessions: org.s,\n  no_title: noTitle,\n  with_title: withTitle,\n  total_ticker: totalTicker,\n  ym_orders: ymOrders,\n  top_queries: gRows.slice(0,5).map(function(r){ return {q:r.keys[0], pos:parseFloat(r.position.toFixed(1)), clicks:r.clicks}; })\n};\n\n// Escape single quotes for SQL embedding\nvar snapshot_json = JSON.stringify(snapshot).replace(/'/g, \"''\");\n\n// === DELTA SECTION ===\nvar deltaText = '';\nif (hasPrev) {\n  deltaText = '\\n\ud83d\udcca \u0414\u0415\u041b\u042c\u0422\u0410 vs \u043f\u0440\u043e\u0448\u043b\u0430\u044f \u043d\u0435\u0434\u0435\u043b\u044f ('+prev.date+' \u2192 '+today+'):\\n'+\n    '\u2022 \u041a\u043b\u0438\u043a\u0438: '+(prev.clicks_7d||'?')+' \u2192 '+tc+d(tc,prev.clicks_7d)+'\\n'+\n    '\u2022 \u041f\u043e\u043a\u0430\u0437\u044b: '+(prev.impressions_7d||'?')+' \u2192 '+ti+d(ti,prev.impressions_7d)+'\\n'+\n    '\u2022 \u0421\u0440.\u043f\u043e\u0437\u0438\u0446\u0438\u044f: '+(prev.avg_position||'?')+' \u2192 '+avgPos+df(parseFloat(avgPos),prev.avg_position)+'\\n'+\n    '\u2022 CTR: '+(prev.avg_ctr||'?')+'% \u2192 '+avgCtr+'%'+df(parseFloat(avgCtr),prev.avg_ctr,'%')+'\\n'+\n    '\u2022 \u041e\u0440\u0433.\u0441\u0435\u0441\u0441\u0438\u0438: '+(prev.organic_sessions||'?')+' \u2192 '+org.s+d(org.s,prev.organic_sessions)+'\\n'+\n    '\u2022 \u0421\u0442\u0440\u0430\u043d\u0438\u0446 \u0431\u0435\u0437 title: '+(prev.no_title||'?')+' \u2192 '+noTitle+d(noTitle,prev.no_title)+'\\n';\n} else {\n  deltaText = '\\n\u26a0\ufe0f \u041f\u0435\u0440\u0432\u044b\u0439 \u0437\u0430\u043f\u0443\u0441\u043a \u2014 \u0434\u0430\u043d\u043d\u044b\u0445 \u043f\u0440\u043e\u0448\u043b\u043e\u0439 \u043d\u0435\u0434\u0435\u043b\u0438 \u043d\u0435\u0442.\\n';\n}\n\n// === TOP QUERIES ===\nvar topQ = '';\nfor (var qi=0; qi<Math.min(5,gRows.length); qi++) {\n  var qr = gRows[qi];\n  topQ += '\u2022 '+qr.keys[0]+': \u043f\u043e\u0437 '+qr.position.toFixed(1)+', '+qr.clicks+' \u043a\u043b, CTR '+(qr.ctr*100).toFixed(1)+'%\\n';\n}\n\nvar prompt = '\u0415\u0416\u0415\u041d\u0415\u0414\u0415\u041b\u042c\u041d\u042b\u0419 SEO \u0410\u0423\u0414\u0418\u0422 gaming-goods.ru \u2014 '+today+'\\n\\n'+\n  '\ud83d\udcc8 \u0422\u0420\u0410\u0424\u0418\u041a (7 \u0434\u043d\u0435\u0439):\\n'+\n  '\u2022 GSC \u043a\u043b\u0438\u043a\u0438: '+tc+'\\n'+\n  '\u2022 GSC \u043f\u043e\u043a\u0430\u0437\u044b: '+ti+'\\n'+\n  '\u2022 \u0421\u0440.\u043f\u043e\u0437\u0438\u0446\u0438\u044f: '+avgPos+'\\n'+\n  '\u2022 CTR: '+avgCtr+'%\\n'+\n  '\u2022 \u041e\u0440\u0433.\u0441\u0435\u0441\u0441\u0438\u0438 GA4: '+org.s+'\\n'+\n  '\u2022 \u042f\u041c \u0437\u0430\u043a\u0430\u0437\u043e\u0432: '+ymOrders+'\\n'+\n  deltaText+\n  '\\n\ud83d\udd0d \u041a\u0410\u0422\u0410\u041b\u041e\u0413 SEO:\\n'+\n  '\u2022 /t/ \u0441\u0442\u0440\u0430\u043d\u0438\u0446 \u0432\u0441\u0435\u0433\u043e: '+totalTicker+'\\n'+\n  '\u2022 \u0411\u0435\u0437 ru title: '+noTitle+' ('+(totalTicker>0?(noTitle/totalTicker*100).toFixed(1):0)+'%)\\n'+\n  '\u2022 \u0421 ru title: '+withTitle+'\\n'+\n  '\u2022 \u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u043e \u0437\u0430 \u043d\u0435\u0434\u0435\u043b\u044e: '+updWeek+' | \u0437\u0430 24\u0447: '+updToday+'\\n'+\n  '\\n\ud83d\udccb \u0422\u043e\u043f \u0441\u0442\u0440\u0430\u043d\u0438\u0446 \u0431\u0435\u0437 title (\u0438\u0437 \u043e\u0431\u043d\u043e\u0432\u043b\u0451\u043d\u043d\u044b\u0445):\\n'+(missingList||'\u043d\u0435\u0442 \u0434\u0430\u043d\u043d\u044b\u0445')+'\\n'+\n  '\\n\ud83d\udd0e \u0422\u043e\u043f-5 \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432 GSC:\\n'+topQ;\n\nreturn [{json:{\n  prompt: prompt,\n  snapshot: snapshot,\n  snapshot_json: snapshot_json,\n  today: today,\n  hasPrev: hasPrev\n}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "claude_node",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"claude-opus-4-5\", \"max_tokens\": 1500, \"system\": \"\\u0422\\u044b Senior SEO Analyst gaming-goods.ru (\\u043c\\u0430\\u0440\\u043a\\u0435\\u0442\\u043f\\u043b\\u0435\\u0439\\u0441 Steam/Xbox/PS \\u043a\\u043b\\u044e\\u0447\\u0435\\u0439). \\u0415\\u0436\\u0435\\u043d\\u0435\\u0434\\u0435\\u043b\\u044c\\u043d\\u044b\\u0439 \\u0430\\u0443\\u0434\\u0438\\u0442 \\u0434\\u043b\\u044f \\u0438\\u043d\\u0432\\u0435\\u0441\\u0442\\u043e\\u0440\\u0430. \\u0421\\u0442\\u0438\\u043b\\u044c: \\u0447\\u0435\\u0441\\u0442\\u043d\\u044b\\u0439, \\u043a\\u043e\\u043d\\u043a\\u0440\\u0435\\u0442\\u043d\\u044b\\u0439, \\u0431\\u0435\\u0437 \\u0432\\u043e\\u0434\\u044b. \\u0421\\u0442\\u0440\\u0443\\u043a\\u0442\\u0443\\u0440\\u0430: 1) \\u0418\\u0442\\u043e\\u0433 \\u043d\\u0435\\u0434\\u0435\\u043b\\u0438 (2-3 \\u0441\\u0442\\u0440\\u043e\\u043a\\u0438) 2) \\u041a\\u043b\\u044e\\u0447\\u0435\\u0432\\u044b\\u0435 \\u0438\\u0437\\u043c\\u0435\\u043d\\u0435\\u043d\\u0438\\u044f vs \\u043f\\u0440\\u043e\\u0448\\u043b\\u0430\\u044f \\u043d\\u0435\\u0434\\u0435\\u043b\\u044f (\\u0435\\u0441\\u043b\\u0438 \\u0435\\u0441\\u0442\\u044c \\u0434\\u0435\\u043b\\u044c\\u0442\\u0430 \\u2014 \\u043e\\u0446\\u0435\\u043d\\u0438 \\u0442\\u0440\\u0435\\u043d\\u0434\\u044b) 3) \\ud83d\\udd34 \\u041a\\u0440\\u0438\\u0442\\u0438\\u0447\\u043d\\u044b\\u0435 \\u043f\\u0440\\u043e\\u0431\\u043b\\u0435\\u043c\\u044b (\\u0444\\u043e\\u043a\\u0443\\u0441 \\u043d\\u0430 113K \\u0441\\u0442\\u0440\\u0430\\u043d\\u0438\\u0446 \\u0431\\u0435\\u0437 title \\u2014 \\u043f\\u0440\\u043e\\u0433\\u0440\\u0435\\u0441\\u0441?) 4) \\ud83d\\udcc8 \\u041f\\u043e\\u0437\\u0438\\u0442\\u0438\\u0432\\u043d\\u044b\\u0435 \\u0441\\u0438\\u0433\\u043d\\u0430\\u043b\\u044b 5) \\u2705 3 \\u043a\\u043e\\u043d\\u043a\\u0440\\u0435\\u0442\\u043d\\u044b\\u0435 \\u0437\\u0430\\u0434\\u0430\\u0447\\u0438 \\u043d\\u0430 \\u043d\\u0435\\u0434\\u0435\\u043b\\u044e (\\u0441 SQL/\\u043a\\u043e\\u0434\\u043e\\u043c \\u0433\\u0434\\u0435 \\u0432\\u043e\\u0437\\u043c\\u043e\\u0436\\u043d\\u043e). \\u041e\\u0431\\u044a\\u0451\\u043c: 20-30 \\u0441\\u0442\\u0440\\u043e\\u043a. \\u042f\\u0437\\u044b\\u043a: \\u0440\\u0443\\u0441\\u0441\\u043a\\u0438\\u0439.\", \"messages\": [{\"role\": \"user\", \"content\": \"={{ $json.prompt }}\"}]}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "xZPzwI0sOTN0iSp8",
          "name": "Anthropic API"
        }
      }
    },
    {
      "id": "pg_snap_delete",
      "name": "PG Snapshot DELETE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1800,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "vMUuOggCtBWX48Jg",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM ai_manager_context WHERE manager_id = 'seo_weekly_snapshot'",
        "options": {}
      }
    },
    {
      "id": "pg_snap_insert",
      "name": "PG Snapshot INSERT",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "vMUuOggCtBWX48Jg",
          "name": "Postgres account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_manager_context (manager_id, context_data, updated_at) VALUES ('seo_weekly_snapshot', '={{ $('Prepare').first().json.snapshot_json }}'::jsonb, now())",
        "options": {}
      }
    },
    {
      "id": "format_node",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ],
      "parameters": {
        "jsCode": "\nvar raw = $('Claude').first().json;\nvar content = raw.content || [];\nvar text = '';\nfor (var i=0; i<content.length; i++) {\n  if (content[i].type==='text') { text=content[i].text; break; }\n}\nvar today = $('Prepare').first().json.today;\nvar hasPrev = $('Prepare').first().json.hasPrev;\nvar note = hasPrev ? '' : '\\n_\u26a0\ufe0f \u041f\u0435\u0440\u0432\u044b\u0439 \u0437\u0430\u043f\u0443\u0441\u043a \u2014 \u0434\u0435\u043b\u044c\u0442\u0430 \u043f\u043e\u044f\u0432\u0438\u0442\u0441\u044f \u0441\u043e \u0441\u043b\u0435\u0434\u0443\u044e\u0449\u0435\u0439 \u043d\u0435\u0434\u0435\u043b\u0438_';\nreturn [{json:{message: '\\u{1F4CA} *SEO \u0415\u0436\u0435\u043d\u0435\u0434\u0435\u043b\u044c\u043d\u044b\u0439 \u0430\u0443\u0434\u0438\u0442 \\u00B7 '+today+'*\\n\\n'+text+note}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "tg_node",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        460
      ],
      "parameters": {
        "chatId": "83436260",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "IjoBfA5jgnMrU9qV",
          "name": "GG Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "GA4 Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 Token": {
      "main": [
        [
          {
            "node": "GA4 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 Data": {
      "main": [
        [
          {
            "node": "GSC Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Token": {
      "main": [
        [
          {
            "node": "GSC Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Queries": {
      "main": [
        [
          {
            "node": "GSC Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Pages": {
      "main": [
        [
          {
            "node": "YM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YM Data": {
      "main": [
        [
          {
            "node": "PG SEO Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG SEO Health": {
      "main": [
        [
          {
            "node": "PG Missing Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Missing Titles": {
      "main": [
        [
          {
            "node": "PG Snapshot READ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Snapshot READ": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "main": [
        [
          {
            "node": "PG Snapshot DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Snapshot DELETE": {
      "main": [
        [
          {
            "node": "PG Snapshot INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Snapshot INSERT": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}