workflows/WF-204_Yandex_Recrawl.json
{"name": "[SEO] WF-204 Yandex Recrawl", "nodes": [{"id": "trigger", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 300], "parameters": {}}, {"id": "pg-urls", "name": "PG: Get URLs", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [220, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "SELECT url FROM page_seo WHERE lang = 'ru' AND url LIKE '%/t/%' AND length(coalesce(title,'')) > 0 ORDER BY updated_at DESC LIMIT 10", "options": {"connectionTimeoutMillis": 15000}}}, {"id": "split", "name": "Split By URL", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [440, 300], "parameters": {"batchSize": 1, "options": {}}}, {"id": "recrawl", "name": "Yandex Recrawl", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 180], "parameters": {"method": "POST", "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/recrawl/queue", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ url: $json.url }) }}"}}, {"id": "get-quota", "name": "Get Quota", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 420], "parameters": {"method": "GET", "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/recrawl/quota", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"}]}}}, {"id": "summary", "name": "Build Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 420], "parameters": {"jsCode": "// Get URL list from PG node\nconst allUrls = $('PG: Get URLs').all().map(i => i.json.url);\nconst quota = $input.first().json;\nconst remaining = quota.quota_remainder ?? '?';\nconst daily = quota.daily_quota ?? 890;\nconst used = daily - remaining;\n\nlet msg = `\ud83d\udd04 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl \u2014 \u0433\u043e\u0442\u043e\u0432\u043e\\n\\n`;\nmsg += `\u2705 \u041e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u043e: ${allUrls.length} URL\\n`;\nmsg += `\ud83d\udcca \u041a\u0432\u043e\u0442\u0430: \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u043e ${used} / ${daily} (\u043e\u0441\u0442\u0430\u043b\u043e\u0441\u044c ${remaining})\\n\\n`;\nmsg += `\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u044b:\\n`;\nmsg += allUrls.map(u => `\u2022 ${u.replace('https://gaming-goods.ru','')}`).join('\\n');\n\nreturn [{ json: { message: msg } }];"}}, {"id": "telegram", "name": "Telegram Report", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1100, 420], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $json.message }}", "additionalFields": {}}}], "connections": {"Manual Trigger": {"main": [[{"node": "PG: Get URLs", "type": "main", "index": 0}]]}, "PG: Get URLs": {"main": [[{"node": "Split By URL", "type": "main", "index": 0}]]}, "Split By URL": {"main": [[{"node": "Yandex Recrawl", "type": "main", "index": 0}], [{"node": "Get Quota", "type": "main", "index": 0}]]}, "Yandex Recrawl": {"main": [[{"node": "Split By URL", "type": "main", "index": 0}]]}, "Get Quota": {"main": [[{"node": "Build Summary", "type": "main", "index": 0}]]}, "Build Summary": {"main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}