workflows/WF-207_Owner_Daily_Digest.json
{
  "name": "WF-207 Owner Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "t-207",
      "name": "Cron 21:00 МСК",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.system_prompt, jsonb_build_object('gmv', ai.fn_gmv_today_summary(), 'actions_today', (SELECT jsonb_agg(t) FROM (SELECT agent_name, action_type, preview, status, ceo_comment FROM ai.action_queue WHERE created_at::date = CURRENT_DATE ORDER BY created_at DESC LIMIT 10) t), 'pulse', (SELECT jsonb_agg(t) FROM (SELECT DISTINCT ON (agent_name) agent_name, status, summary FROM ai.hourly_pulse WHERE pulse_at >= NOW() - INTERVAL '24 hours' ORDER BY agent_name, pulse_at DESC) t)) AS data FROM ai.agent_settings s WHERE s.agent_name = 'owner_digest';",
        "options": {}
      },
      "id": "pg-207",
      "name": "Get prompt+state",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "LwmG3bwG5g2exyRt",
          "name": "GG ai_agent (5433)"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'claude-haiku-4-5-20251001', max_tokens: 800, system: $json.system_prompt, messages: [{role:'user', content: JSON.stringify($json.data)}] } }}",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "a-207",
      "name": "Anthropic Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xZPzwI0sOTN0iSp8",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const t = ($input.first().json.content||[])[0]; const text = (t && t.text) || 'No digest'; return [{ json: { text: text.slice(0, 600) } }];"
      },
      "id": "e-207",
      "name": "Extract text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai.hourly_pulse (agent_name,pulse_at,status,summary) VALUES ('owner_digest',NOW(),'idle',$1) RETURNING id;",
        "options": {
          "queryReplacement": "={{ ['daily digest sent: ' + ($json.text || '').slice(0, 100)] }}"
        }
      },
      "id": "p-207",
      "name": "Pulse",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "LwmG3bwG5g2exyRt",
          "name": "GG ai_agent (5433)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "83436260",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "t2-207",
      "name": "TG · Owner",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "IjoBfA5jgnMrU9qV",
          "name": "GG Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Cron 21:00 МСК": {
      "main": [
        [
          {
            "node": "Get prompt+state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt+state": {
      "main": [
        [
          {
            "node": "Anthropic Haiku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Haiku": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Pulse",
            "type": "main",
            "index": 0
          },
          {
            "node": "TG · Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}