workflows/WF-301_SEO_Content_Generator.json
{"name": "[SEO] WF-301 SEO Content Generator", "nodes": [{"id": "trigger", "name": "Schedule 03:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 24, "triggerAtHour": 3}]}}}, {"id": "pg-get", "name": "PG: Pages without description", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [220, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "SELECT \n  ps.url,\n  ps.title,\n  p.name as product_name,\n  p.category,\n  p.brand\nFROM page_seo ps\nLEFT JOIN products p ON ps.url LIKE '%' || p.slug || '%'\nWHERE ps.lang = 'ru'\n  AND ps.url LIKE '%/t/%'\n  AND length(coalesce(ps.title,'')) > 0\n  AND (ps.description IS NULL OR length(ps.description) = 0)\nORDER BY ps.updated_at DESC\nLIMIT 20", "options": {"connectionTimeoutMillis": 15000}}}, {"id": "claude", "name": "Claude: Generate SEO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300], "parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $credentials.httpHeaderAuth.value }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 1024,\n  system: \"\u0422\u044b SEO-\u043a\u043e\u043f\u0438\u0440\u0430\u0439\u0442\u0435\u0440 \u0434\u043b\u044f gaming-goods.ru \u2014 \u0431\u0438\u0440\u0436\u0438 \u0446\u0438\u0444\u0440\u043e\u0432\u044b\u0445 \u0442\u043e\u0432\u0430\u0440\u043e\u0432 \u0434\u043b\u044f \u0440\u0443\u0441\u0441\u043a\u043e\u044f\u0437\u044b\u0447\u043d\u043e\u0433\u043e \u0440\u044b\u043d\u043a\u0430. \u041f\u0438\u0448\u0438 \u0442\u043e\u043b\u044c\u043a\u043e \u043f\u043e-\u0440\u0443\u0441\u0441\u043a\u0438. \u041e\u0442\u0432\u0435\u0447\u0430\u0439 \u0441\u0442\u0440\u043e\u0433\u043e \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 JSON \u0431\u0435\u0437 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0435\u0432 \u0438 markdown.\",\n  messages: [{\n    role: \"user\",\n    content: `\u0422\u043e\u0432\u0430\u0440: ${$json.title || $json.product_name || '\u0438\u0433\u0440\u043e\u0432\u043e\u0439 \u0442\u043e\u0432\u0430\u0440'}\n\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f: ${$json.category || 'game-keys'}\n\u0411\u0440\u0435\u043d\u0434: ${$json.brand || 'Unknown'}\nURL: ${$json.url}\n\n\u0421\u0433\u0435\u043d\u0435\u0440\u0438\u0440\u0443\u0439 JSON \u0441 \u043f\u043e\u043b\u044f\u043c\u0438:\n- description: \u0441\u0442\u0440\u043e\u043a\u0430 140-160 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432, \u0432\u043a\u043b\u044e\u0447\u0438 \u0441\u043b\u043e\u0432\u043e \u043a\u0443\u043f\u0438\u0442\u044c, \u0443\u043f\u043e\u043c\u044f\u043d\u0438 \u0431\u0440\u0435\u043d\u0434\n- h1: \u0441\u0442\u0440\u043e\u043a\u0430 \u0434\u043e 55 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432, \u043d\u0435 \u043f\u043e\u0432\u0442\u043e\u0440\u044f\u0439 title \u0434\u043e\u0441\u043b\u043e\u0432\u043d\u043e\n- faq: \u043c\u0430\u0441\u0441\u0438\u0432 \u0438\u0437 3 \u043e\u0431\u044a\u0435\u043a\u0442\u043e\u0432 {question, answer}, \u0432\u043e\u043f\u0440\u043e\u0441\u044b \u043e \u043f\u043e\u043a\u0443\u043f\u043a\u0435/\u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0435/\u0430\u043a\u0442\u0438\u0432\u0430\u0446\u0438\u0438\n- article: \u0441\u0442\u0440\u043e\u043a\u0430 200-250 \u0441\u043b\u043e\u0432, \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 SEO-\u0442\u0435\u043a\u0441\u0442 \u043f\u0440\u043e \u0442\u043e\u0432\u0430\u0440\n\n\u041e\u0442\u0432\u0435\u0447\u0430\u0439 \u0442\u043e\u043b\u044c\u043a\u043e \u0432\u0430\u043b\u0438\u0434\u043d\u044b\u043c JSON, \u0431\u0435\u0437 markdown.`\n  }]\n}) }}"}, "credentials": {"httpHeaderAuth": {"id": "xZPzwI0sOTN0iSp8", "name": "Anthropic API"}}}, {"id": "parse", "name": "Parse Claude response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300], "parameters": {"jsCode": "const resp = $input.first().json;\nconst url = $('PG: Pages without description').item.json.url;\n\nlet content = '';\ntry {\n  content = resp.content[0].text;\n  // Strip markdown if present\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(content);\n  return [{ json: {\n    url: url,\n    description: (parsed.description || '').substring(0, 200),\n    h1: (parsed.h1 || '').substring(0, 100),\n    faq: JSON.stringify(parsed.faq || []),\n    article: (parsed.article || '').substring(0, 2000),\n    ok: true\n  }}];\n} catch(e) {\n  return [{ json: { url: url, ok: false, error: e.message, raw: content.substring(0, 200) } }];\n}"}}, {"id": "build-sql", "name": "Build SQL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 300], "parameters": {"jsCode": "const d = $input.first().json;\nif (!d.ok) return [{ json: { sql: null, skipped: true, url: d.url, error: d.error } }];\n\n// Escape single quotes for PostgreSQL\nconst esc = (s) => (s || '').replace(/'/g, \"''\");\n\nconst sql = `UPDATE page_seo SET\n  description = '${esc(d.description)}',\n  h1 = '${esc(d.h1)}',\n  faq = '${esc(d.faq)}'::jsonb,\n  article = '${esc(d.article)}',\n  updated_at = now()\nWHERE url = '${esc(d.url)}' AND lang = 'ru'`;\n\nreturn [{ json: { sql, url: d.url, ok: true } }];"}}, {"id": "pg-write", "name": "PG: Write SEO", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1100, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "={{ $json.sql }}", "options": {"connectionTimeoutMillis": 15000}}}, {"id": "aggregate", "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const all = $input.all();\nconst ok = all.filter(i => i.json.success === true || i.json.success === 'true').length;\nconst total = all.length;\nconst date = new Date().toISOString().slice(0,10);\nreturn [{ json: { ok, total, date } }];"}}, {"id": "telegram", "name": "Telegram Report", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1540, 300], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ '\u270d\ufe0f WF-301 SEO Content\\n\\n\u2705 \u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u043e: ' + $json.ok + ' / ' + $json.total + ' \u0441\u0442\u0440\u0430\u043d\u0438\u0446\\n\ud83d\udcc5 ' + $json.date }}", "additionalFields": {}}}], "connections": {"Schedule 03:00": {"main": [[{"node": "PG: Pages without description", "type": "main", "index": 0}]]}, "PG: Pages without description": {"main": [[{"node": "Claude: Generate SEO", "type": "main", "index": 0}]]}, "Claude: Generate SEO": {"main": [[{"node": "Parse Claude response", "type": "main", "index": 0}]]}, "Parse Claude response": {"main": [[{"node": "Build SQL", "type": "main", "index": 0}]]}, "PG: Write SEO": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]}, "Build SQL": {"main": [[{"node": "PG: Write SEO", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}