workflows/WF-301_SEO_Content_Generator.json
{"name": "[SEO] WF-301 SEO Content Generator", "nodes": [{"id": "trigger", "name": "Schedule 03:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 24, "triggerAtHour": 3}]}}}, {"id": "pg-get", "name": "PG: Pages without description", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [220, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "SELECT\n  ps.url,\n  ps.title,\n  TRIM(split_part(split_part(split_part(\n    coalesce(ps.title, replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-',' ')),\n    ' \u043a\u0443\u043f\u0438\u0442\u044c', 1), ' |', 1), ' \u2014', 1)) as brand,\n  CASE\n    WHEN ps.url LIKE '%-game-keys'    THEN 'Game Keys'\n    WHEN ps.url LIKE '%-gift-card'    THEN 'Gift Card'\n    WHEN ps.url LIKE '%-accounts'     THEN 'Accounts'\n    WHEN ps.url LIKE '%-currency'     THEN 'Currency'\n    WHEN ps.url LIKE '%-subscription' THEN 'Subscription'\n    WHEN ps.url LIKE '%-software'     THEN 'Software'\n    ELSE 'Other'\n  END as category,\n  coalesce(p.min_price::text, '') as min_price,\n  coalesce(p.max_price::text, '') as max_price,\n  coalesce(p.sku_count::text, '0') as sku_count,\n  coalesce(p.original_name, '') as original_name\nFROM page_seo ps\nLEFT JOIN LATERAL (\n  SELECT\n    MIN(p2.price) as min_price,\n    MAX(p2.price) as max_price,\n    COUNT(*) as sku_count,\n    MIN(p2.original_name) as original_name\n  FROM products p2\n  WHERE p2.is_active = true\n    AND lower(replace(p2.brand,' ','-')) =\n        CASE\n          WHEN ps.url LIKE '%-game-keys'    THEN replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-game-keys','')\n          WHEN ps.url LIKE '%-gift-card'    THEN replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-gift-card','')\n          WHEN ps.url LIKE '%-accounts'     THEN replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-accounts','')\n          WHEN ps.url LIKE '%-currency'     THEN replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-currency','')\n          WHEN ps.url LIKE '%-subscription' THEN replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-subscription','')\n          ELSE replace(ps.url,'https://gaming-goods.ru/t/','')\n        END\n) p ON true\nWHERE ps.lang = 'ru'\n  AND ps.url LIKE '%/t/%'\n  AND length(coalesce(ps.title,'')) > 0\n  AND (ps.description IS NULL OR length(ps.description) = 0)\nORDER BY\n  CASE\n    WHEN ps.url LIKE '%-gift-card' THEN 1\n    WHEN ps.url LIKE '%-currency'  THEN 2\n    WHEN ps.url LIKE '%-game-keys' THEN 3\n    ELSE 4\n  END,\n  ps.updated_at DESC\nLIMIT 890", "options": {"connectionTimeoutMillis": 15000}}}, {"id": "claude", "name": "Claude: Generate SEO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [840, 300], "parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 800,\n  system: \"\\u0422\\u044b \\u2014 SEO-\\u0441\\u043f\\u0435\\u0446\\u0438\\u0430\\u043b\\u0438\\u0441\\u0442 \\u0434\\u043b\\u044f \\u043c\\u0430\\u0440\\u043a\\u0435\\u0442\\u043f\\u043b\\u0435\\u0439\\u0441\\u0430 \\u0446\\u0438\\u0444\\u0440\\u043e\\u0432\\u044b\\u0445 \\u0442\\u043e\\u0432\\u0430\\u0440\\u043e\\u0432 \\\"\\u0413\\u0435\\u0439\\u043c\\u0438\\u043d\\u0433 \\u0413\\u0443\\u0434\\u0441\\\" (Gaming Goods). \\u0422\\u0432\\u043e\\u044f \\u0437\\u0430\\u0434\\u0430\\u0447\\u0430 \\u2014 \\u0433\\u0435\\u043d\\u0435\\u0440\\u0438\\u0440\\u043e\\u0432\\u0430\\u0442\\u044c \\u0443\\u043d\\u0438\\u043a\\u0430\\u043b\\u044c\\u043d\\u044b\\u0435, \\u0435\\u0441\\u0442\\u0435\\u0441\\u0442\\u0432\\u0435\\u043d\\u043d\\u043e \\u0437\\u0432\\u0443\\u0447\\u0430\\u0449\\u0438\\u0435 \\u043c\\u0435\\u0442\\u0430-\\u0442\\u0435\\u0433\\u0438 \\u0434\\u043b\\u044f \\u0441\\u0442\\u0440\\u0430\\u043d\\u0438\\u0446 \\u043a\\u0430\\u0442\\u0430\\u043b\\u043e\\u0433\\u0430.\\n\\n\\u0412\\u0435\\u0440\\u043d\\u0438 \\u0441\\u0442\\u0440\\u043e\\u0433\\u043e JSON \\u0431\\u0435\\u0437 markdown-\\u043e\\u0431\\u0435\\u0440\\u0442\\u043a\\u0438:\\n{\\n  \\\"title\\\": \\\"...\\\",      (50-60 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0441\\u043e\\u0434\\u0435\\u0440\\u0436\\u0438\\u0442 \\\"\\u043a\\u0443\\u043f\\u0438\\u0442\\u044c\\\", \\u0440\\u0430\\u0437\\u043d\\u044b\\u0435 \\u043a\\u043e\\u043d\\u0441\\u0442\\u0440\\u0443\\u043a\\u0446\\u0438\\u0438)\\n  \\\"description\\\": \\\"...\\\", (140-160 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0436\\u0438\\u0432\\u043e\\u0435 \\u043f\\u0440\\u0435\\u0434\\u043b\\u043e\\u0436\\u0435\\u043d\\u0438\\u0435, \\u043a\\u043e\\u043d\\u043a\\u0440\\u0435\\u0442\\u0438\\u043a\\u0430 \\u0441 \\u0446\\u0435\\u043d\\u043e\\u0439)\\n  \\\"h1\\\": \\\"...\\\",         (20-60 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0447\\u0438\\u0442\\u0430\\u0435\\u043c\\u044b\\u0439 \\u0437\\u0430\\u0433\\u043e\\u043b\\u043e\\u0432\\u043e\\u043a)\\n  \\\"keywords\\\": \\\"...\\\"    (5-8 \\u043a\\u043b\\u044e\\u0447\\u0435\\u0439 \\u0447\\u0435\\u0440\\u0435\\u0437 \\u0437\\u0430\\u043f\\u044f\\u0442\\u0443\\u044e)\\n}\\n\\n\\u041f\\u0440\\u0430\\u0432\\u0438\\u043b\\u0430 title: \\u0441\\u0442\\u0440\\u043e\\u0433\\u043e 50-60 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0441\\u043b\\u043e\\u0432\\u043e \\\"\\u043a\\u0443\\u043f\\u0438\\u0442\\u044c\\\", \\u0440\\u0430\\u0437\\u043d\\u044b\\u0435 \\u043a\\u043e\\u043d\\u0441\\u0442\\u0440\\u0443\\u043a\\u0446\\u0438\\u0438 \\u2014 \\u043d\\u0435 \\u043f\\u043e\\u0432\\u0442\\u043e\\u0440\\u044f\\u0442\\u044c \\u0448\\u0430\\u0431\\u043b\\u043e\\u043d\\u044b.\\n\\u041f\\u0440\\u0430\\u0432\\u0438\\u043b\\u0430 description: \\u0441\\u0442\\u0440\\u043e\\u0433\\u043e 140-160 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0436\\u0438\\u0432\\u044b\\u0435 \\u043f\\u0440\\u0435\\u0434\\u043b\\u043e\\u0436\\u0435\\u043d\\u0438\\u044f, \\u043a\\u043e\\u043d\\u043a\\u0440\\u0435\\u0442\\u0438\\u043a\\u0430: \\u0446\\u0435\\u043d\\u044b, \\u043a\\u043e\\u043b\\u0438\\u0447\\u0435\\u0441\\u0442\\u0432\\u043e \\u0442\\u043e\\u0432\\u0430\\u0440\\u043e\\u0432, \\\"\\u043c\\u043e\\u043c\\u0435\\u043d\\u0442\\u0430\\u043b\\u044c\\u043d\\u0430\\u044f \\u0434\\u043e\\u0441\\u0442\\u0430\\u0432\\u043a\\u0430\\\", \\\"\\u0413\\u0435\\u0439\\u043c\\u0438\\u043d\\u0433 \\u0413\\u0443\\u0434\\u0441\\\".\\n\\u0417\\u0430\\u043f\\u0440\\u0435\\u0442\\u044b: \\u043d\\u0438\\u043a\\u0430\\u043a\\u0438\\u0445 \\u044d\\u043c\\u043e\\u0434\\u0437\\u0438, \\u043d\\u0438\\u043a\\u0430\\u043a\\u0438\\u0445 CAPS LOCK, \\\"\\u0413\\u0435\\u0439\\u043c\\u0438\\u043d\\u0433 \\u0413\\u0443\\u0434\\u0441\\\" (\\u043d\\u0435 \\\"Gaming Goods\\\").\\nH1: \\u0447\\u0438\\u0441\\u0442\\u044b\\u0439 \\u0437\\u0430\\u0433\\u043e\\u043b\\u043e\\u0432\\u043e\\u043a 20-60 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432 \\u0431\\u0435\\u0437 \\\"\\u043a\\u0443\\u043f\\u0438\\u0442\\u044c\\\".\\nKeywords: 5-8 \\u0444\\u0440\\u0430\\u0437 \\u0447\\u0435\\u0440\\u0435\\u0437 \\u0437\\u0430\\u043f\\u044f\\u0442\\u0443\\u044e.\",\n  messages: [{\n    role: \"user\",\n    content: \"category=\" + $json.category + \"\\nbrand=\" + $json.brand + \"\\nproduct_count=\" + ($json.sku_count || \"\u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u043e\") + \"\\nmin_price=\" + ($json.min_price ? $json.min_price + \" EUR\" : \"\u043e\u0442 1 EUR\") + \"\\nlang=ru\\nurl=\" + $json.url + \"\\n\\n\u0421\u0433\u0435\u043d\u0435\u0440\u0438\u0440\u0443\u0439 JSON \u0441 title, description, h1, keywords. \u0422\u043e\u043b\u044c\u043a\u043e JSON \u0431\u0435\u0437 markdown.\"\n  }]\n}) }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth"}, "credentials": {"httpHeaderAuth": {"id": "xZPzwI0sOTN0iSp8", "name": "Anthropic API"}}}, {"id": "parse", "name": "Parse Claude response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300], "parameters": {"jsCode": "const resp = $input.first().json;\nconst pg = $('PG: Pages without description').item.json;\nconst url = pg.url || '';\n\n// Check for API error first\nif (resp.error || resp.type === 'error') {\n  const errMsg = resp.error?.message || resp.message || 'API error';\n  return [{ json: { ok: false, url, error: errMsg } }];\n}\n\nlet content = '';\ntry {\n  content = (resp.content || [])[0]?.text || '';\n  content = content.replace(/```json\\n?/gi, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(content);\n  return [{ json: {\n    ok: true,\n    url,\n    description: (parsed.description || '').slice(0, 200),\n    h1: (parsed.h1 || '').slice(0, 100),\n    faq: JSON.stringify(parsed.faq || []),\n    article: (parsed.article || '').slice(0, 2000)\n  }}];\n} catch(e) {\n  return [{ json: { ok: false, url, error: e.message, raw: content.slice(0, 100) } }];\n}", "mode": "runOnceForAllItems"}}, {"id": "build-sql", "name": "Build SQL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1280, 300], "parameters": {"jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const d = item.json;\n  if (!d.ok || !d.url) {\n    // Return no-op SELECT so PG doesn't crash on null\n    return { json: { sql: \"SELECT 1\", skipped: true, url: d.url || '' } };\n  }\n  const esc = s => (s || '').replace(/'/g, \"''\");\n  const sql = `UPDATE page_seo SET description='${esc(d.description)}',h1='${esc(d.h1)}',faq='${esc(d.faq)}'::jsonb,article='${esc(d.article)}',updated_at=now() WHERE url='${esc(d.url)}' AND lang='ru'`;\n  return { json: { sql, url: d.url, ok: true } };\n});", "mode": "runOnceForAllItems"}}, {"id": "pg-write", "name": "PG: Write SEO", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1500, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "={{ $json.sql }}", "options": {"connectionTimeoutMillis": 15000, "queryBatching": "independently"}}}, {"id": "aggregate", "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const all = $input.all();\nconst ok = all.filter(i => i.json.ok === true).length;\nconst skipped = all.filter(i => i.json.skipped).length;\nconst errors = all.filter(i => !i.json.ok && !i.json.skipped);\nconst date = new Date().toISOString().slice(0,10);\n\nlet msg = `\u270d\ufe0f WF-301 SEO Content\\n\\n`;\nmsg += `\u2705 \u0417\u0430\u043f\u0438\u0441\u0430\u043d\u043e: ${ok} \u0441\u0442\u0440\u0430\u043d\u0438\u0446\\n`;\nif (skipped > 0) msg += `\u23ed \u041f\u0440\u043e\u043f\u0443\u0449\u0435\u043d\u043e: ${skipped}\\n`;\nif (errors.length > 0) {\n  msg += `\u274c \u041e\u0448\u0438\u0431\u043e\u043a: ${errors.length}\\n`;\n  // Show first error for debug\n  const firstErr = errors[0]?.json;\n  if (firstErr?.error) msg += `\u041f\u0435\u0440\u0432\u0430\u044f \u043e\u0448\u0438\u0431\u043a\u0430: ${firstErr.error.slice(0,100)}\\n`;\n}\nmsg += `\ud83d\udcc5 ${date}`;\n\nreturn [{ json: { msg } }];"}}, {"id": "telegram", "name": "Telegram Report", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1540, 300], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $json.msg }}", "additionalFields": {"appendAttribution": false}}}, {"id": "wf301-split", "name": "Split 1 by 1", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [420, 300], "parameters": {"batchSize": 1, "options": {}}}, {"id": "wf301-wait", "name": "Wait 1s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [620, 300], "webhookId": "wf301-wait-webhook", "parameters": {"unit": "seconds", "amount": 1}}, {"id": "pass", "name": "Passthrough", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1200, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "// Pass the current item back to the loop\n// regardless of what PG Write returned\nconst item = $('Build SQL').first().json;\nreturn [{ json: { url: item.url, done: true } }];"}}], "connections": {"Schedule 03:00": {"main": [[{"node": "PG: Pages without description", "type": "main", "index": 0}]]}, "PG: Pages without description": {"main": [[{"node": "Split 1 by 1", "type": "main", "index": 0}]]}, "Claude: Generate SEO": {"main": [[{"node": "Parse Claude response", "type": "main", "index": 0}]]}, "Parse Claude response": {"main": [[{"node": "Build SQL", "type": "main", "index": 0}]]}, "PG: Write SEO": {"main": [[{"node": "Passthrough", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]}, "Build SQL": {"main": [[{"node": "PG: Write SEO", "type": "main", "index": 0}]]}, "Split 1 by 1": {"main": [[{"node": "Wait 1s", "type": "main", "index": 0}], [{"node": "Aggregate", "type": "main", "index": 0}]]}, "Wait 1s": {"main": [[{"node": "Claude: Generate SEO", "type": "main", "index": 0}]]}, "Passthrough": {"main": [[{"node": "Split 1 by 1", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}