workflows/WF-301_SEO_Content_Generator.json
{"name": "WF-301 SEO Content Generator", "nodes": [{"id": "sched", "name": "Schedule 03:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 24, "triggerAtHour": 21}]}}}, {"id": "pg", "name": "PG: Pages", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [220, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "SELECT ps.url,\n  TRIM(split_part(split_part(coalesce(ps.title,''),' \u043a\u0443\u043f\u0438\u0442\u044c',1),' |',1)) as brand,\n  CASE WHEN ps.url LIKE '%-gift-card' THEN 'Gift Card'\n       WHEN ps.url LIKE '%-currency' THEN 'Currency'\n       WHEN ps.url LIKE '%-game-keys' THEN 'Game Keys'\n       WHEN ps.url LIKE '%-accounts' THEN 'Accounts'\n       WHEN ps.url LIKE '%-subscription' THEN 'Subscription'\n       ELSE 'Other' END as category,\n  coalesce((SELECT COUNT(*) FROM products p WHERE p.is_active=true AND lower(replace(p.brand,' ','-'))=replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-gift-card',''))::text, '0') as sku_count,\n  coalesce((SELECT MIN(p.price)::text FROM products p WHERE p.is_active=true AND lower(replace(p.brand,' ','-'))=replace(replace(ps.url,'https://gaming-goods.ru/t/',''),'-gift-card','')),'') as min_price\nFROM page_seo ps\nWHERE ps.lang='ru' AND ps.url LIKE '%/t/%'\n  AND (ps.description IS NULL OR length(ps.description)=0)\n  AND length(coalesce(ps.title,''))>5\nORDER BY CASE WHEN ps.url LIKE '%-gift-card' THEN 1\n              WHEN ps.url LIKE '%-currency' THEN 2\n              WHEN ps.url LIKE '%-game-keys' THEN 3 ELSE 4 END,\n         ps.updated_at DESC\nLIMIT 890", "options": {"connectionTimeoutMillis": 30000}}}, {"id": "split", "name": "Split 1 by 1", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [440, 300], "parameters": {"batchSize": 1, "options": {}}}, {"id": "wait", "name": "Wait 1s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [660, 300], "webhookId": "wf301-wait", "parameters": {"unit": "seconds", "amount": 1}}, {"id": "claude", "name": "Claude: Generate SEO", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300], "credentials": {"httpHeaderAuth": {"id": "xZPzwI0sOTN0iSp8", "name": "Anthropic API"}}, "parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 800, system: \"\\u0422\\u044b \\u2014 SEO-\\u0441\\u043f\\u0435\\u0446\\u0438\\u0430\\u043b\\u0438\\u0441\\u0442 \\u0434\\u043b\\u044f \\u043c\\u0430\\u0440\\u043a\\u0435\\u0442\\u043f\\u043b\\u0435\\u0439\\u0441\\u0430 \\u0446\\u0438\\u0444\\u0440\\u043e\\u0432\\u044b\\u0445 \\u0442\\u043e\\u0432\\u0430\\u0440\\u043e\\u0432 \\\"\\u0413\\u0435\\u0439\\u043c\\u0438\\u043d\\u0433 \\u0413\\u0443\\u0434\\u0441\\\". \\u0413\\u0435\\u043d\\u0435\\u0440\\u0438\\u0440\\u0443\\u0439 \\u0443\\u043d\\u0438\\u043a\\u0430\\u043b\\u044c\\u043d\\u044b\\u0435 \\u043c\\u0435\\u0442\\u0430-\\u0442\\u0435\\u0433\\u0438.\\n\\n\\u0412\\u0435\\u0440\\u043d\\u0438 \\u0441\\u0442\\u0440\\u043e\\u0433\\u043e JSON \\u0431\\u0435\\u0437 markdown:\\n{\\\"title\\\":\\\"...\\\",\\\"description\\\":\\\"...\\\",\\\"h1\\\":\\\"...\\\",\\\"keywords\\\":\\\"...\\\"}\\n\\ntitle: 50-60 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0441\\u043e\\u0434\\u0435\\u0440\\u0436\\u0438\\u0442 \\\"\\u043a\\u0443\\u043f\\u0438\\u0442\\u044c\\\", \\u0440\\u0430\\u0437\\u043d\\u044b\\u0435 \\u043a\\u043e\\u043d\\u0441\\u0442\\u0440\\u0443\\u043a\\u0446\\u0438\\u0438 \\u043a\\u0430\\u0436\\u0434\\u044b\\u0439 \\u0440\\u0430\\u0437.\\ndescription: 140-160 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0436\\u0438\\u0432\\u043e\\u0435 \\u043f\\u0440\\u0435\\u0434\\u043b\\u043e\\u0436\\u0435\\u043d\\u0438\\u0435, \\u043a\\u043e\\u043d\\u043a\\u0440\\u0435\\u0442\\u0438\\u043a\\u0430 \\u0441 \\u0446\\u0435\\u043d\\u043e\\u0439 \\u0438 \\u043a\\u043e\\u043b\\u0438\\u0447\\u0435\\u0441\\u0442\\u0432\\u043e\\u043c, \\\"\\u0413\\u0435\\u0439\\u043c\\u0438\\u043d\\u0433 \\u0413\\u0443\\u0434\\u0441\\\".\\nh1: 20-60 \\u0441\\u0438\\u043c\\u0432\\u043e\\u043b\\u043e\\u0432, \\u0447\\u0438\\u0442\\u0430\\u0435\\u043c\\u044b\\u0439 \\u0437\\u0430\\u0433\\u043e\\u043b\\u043e\\u0432\\u043e\\u043a \\u0431\\u0435\\u0437 \\\"\\u043a\\u0443\\u043f\\u0438\\u0442\\u044c\\\".\\nkeywords: 5-8 \\u0444\\u0440\\u0430\\u0437 \\u0447\\u0435\\u0440\\u0435\\u0437 \\u0437\\u0430\\u043f\\u044f\\u0442\\u0443\\u044e.\\n\\u0417\\u0430\\u043f\\u0440\\u0435\\u0442\\u044b: \\u043d\\u0438\\u043a\\u0430\\u043a\\u0438\\u0445 \\u044d\\u043c\\u043e\\u0434\\u0437\\u0438, CAPS LOCK \\u0437\\u0430\\u043f\\u0440\\u0435\\u0449\\u0451\\u043d, \\u043c\\u0430\\u0433\\u0430\\u0437\\u0438\\u043d \\u2014 \\u0442\\u043e\\u043b\\u044c\\u043a\\u043e \\\"\\u0413\\u0435\\u0439\\u043c\\u0438\\u043d\\u0433 \\u0413\\u0443\\u0434\\u0441\\\".\", messages: [{ role: 'user', content: 'category=' + $json.category + '\\nbrand=' + $json.brand + '\\nproduct_count=' + ($json.sku_count || '\u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u043e') + '\\nmin_price=' + ($json.min_price ? $json.min_price + ' EUR' : '') + '\\nlang=ru\\n\\nJSON \u0442\u043e\u043b\u044c\u043a\u043e, \u0431\u0435\u0437 markdown.' }] }) }}", "options": {"response": {"response": {"neverError": true}}}}}, {"id": "parse", "name": "Parse Claude response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const resp = $input.first().json;\nconst pg = $('PG: Pages').item.json;\nconst url = pg.url || '';\n\nif (resp.error) return [{ json: { ok: false, url, error: JSON.stringify(resp.error).slice(0,100) } }];\n\ntry {\n  let text = (resp.content || [])[0]?.text || '';\n  text = text.replace(/```json\\n?/gi,'').replace(/```\\n?/g,'').trim();\n  const d = JSON.parse(text);\n  const esc = s => (s||'').replace(/'/g,\"''\").replace(/\\/g,'');\n  return [{ json: {\n    ok: true, url,\n    description: esc((d.description||'').slice(0,200)),\n    h1: esc((d.h1||'').slice(0,100)),\n    title: esc((d.title||'').slice(0,80)),\n    keywords: esc((d.keywords||'').slice(0,200)),\n    faq: '[]'\n  }}];\n} catch(e) {\n  return [{ json: { ok: false, url, error: e.message } }];\n}"}}, {"id": "pgw", "name": "PG: Write SEO", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1320, 300], "credentials": {"postgres": {"id": "vMUuOggCtBWX48Jg", "name": "Postgres account"}}, "parameters": {"operation": "executeQuery", "query": "UPDATE page_seo SET\n  description='{{ $json.ok === true ? $json.description : (description||'') }}',\n  h1='{{ $json.ok === true ? $json.h1 : (h1||'') }}',\n  faq='[]'::jsonb,\n  updated_at=CASE WHEN '{{ $json.ok }}' = 'true' THEN now() ELSE updated_at END\nWHERE url='{{ $json.url }}' AND lang='ru'\nRETURNING id::text", "options": {"connectionTimeoutMillis": 10000}}}, {"id": "agg", "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1540, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const all = $input.all();\nconst ok = all.filter(i => i.json.id).length;\nconst date = new Date().toISOString().slice(0,10);\nconst msg = '\u270d\ufe0f WF-301 SEO\\n\u2705 \u0417\u0430\u043f\u0438\u0441\u0430\u043d\u043e: ' + ok + ' / ' + all.length + '\\n\ud83d\udcc5 ' + date;\nreturn [{ json: { msg } }];"}}, {"id": "tg", "name": "Telegram Report", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1760, 300], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $json.msg }}", "additionalFields": {"appendAttribution": false}}}], "connections": {"Schedule 03:00": {"main": [[{"node": "PG: Pages", "type": "main", "index": 0}]]}, "PG: Pages": {"main": [[{"node": "Split 1 by 1", "type": "main", "index": 0}]]}, "Split 1 by 1": {"main": [[{"node": "Wait 1s", "type": "main", "index": 0}], [{"node": "Aggregate", "type": "main", "index": 0}]]}, "Wait 1s": {"main": [[{"node": "Claude: Generate SEO", "type": "main", "index": 0}]]}, "Claude: Generate SEO": {"main": [[{"node": "Parse Claude response", "type": "main", "index": 0}]]}, "Parse Claude response": {"main": [[{"node": "PG: Write SEO", "type": "main", "index": 0}]]}, "PG: Write SEO": {"main": [[{"node": "Split 1 by 1", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "Telegram Report", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}