workflows/WF-MONITOR_Error_Alert.json
{"name": "[MONITOR] WF Error Alert", "nodes": [{"id": "sched", "name": "Every hour", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1}]}}}, {"id": "check", "name": "Check Workflows", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "\nconst N8N_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4';\nconst BASE = 'https://n8n-4d54.onrender.com/api/v1';\n\nconst workflows = {\"WF-301 SEO Content\": \"xPhhEHGFbGHjfZN7\", \"WF-204 Yandex Recrawl\": \"ayh2yYy0u5p3tWap\", \"WF-201 GSC+GA4\": \"1EcezAM2sWYv6WSL\", \"CEO Brief\": \"YVH67YNAB44TlTee\", \"WF-205 SEO Audit\": \"jzA0CgaqzrXBYUu5\"};\nconst errors = [];\nconst ok = [];\n\nfor (const [name, id] of Object.entries(workflows)) {\n  try {\n    const resp = await fetch(`${BASE}/executions?workflowId=${id}&limit=1`, {\n      headers: { 'X-N8N-API-KEY': N8N_KEY }\n    });\n    const data = await resp.json();\n    const last = (data.data || [])[0];\n    if (!last) { errors.push(`\u26a0\ufe0f ${name}: \u043d\u0435\u0442 \u0437\u0430\u043f\u0443\u0441\u043a\u043e\u0432`); continue; }\n    const age = (Date.now() - new Date(last.stoppedAt).getTime()) / 3600000;\n    if (last.status === 'error') {\n      errors.push(`\u274c ${name}\\n   \u0423\u043f\u0430\u043b ${Math.round(age)}\u0447 \u043d\u0430\u0437\u0430\u0434`);\n    } else if (last.status === 'success') {\n      ok.push(`\u2705 ${name} (${Math.round(age)}\u0447)`);\n    } else {\n      errors.push(`\u26a0\ufe0f ${name}: \u0441\u0442\u0430\u0442\u0443\u0441 ${last.status}`);\n    }\n  } catch(e) {\n    errors.push(`\u274c ${name}: ${e.message}`);\n  }\n}\n\nconst msk = new Date(Date.now() + 3*3600000);\nconst timeStr = msk.toLocaleString('ru-RU', {timeZone:'UTC', hour:'2-digit', minute:'2-digit'});\n\nlet msg;\nif (errors.length === 0) {\n  msg = `\u2705 \u0412\u0441\u0435 \u0432\u043e\u0440\u043a\u0444\u043b\u043e\u0443 \u0440\u0430\u0431\u043e\u0442\u0430\u044e\u0442 \u043d\u043e\u0440\u043c\u0430\u043b\u044c\u043d\u043e (${timeStr} MSK)\\n\\n${ok.join('\\n')}`;\n} else {\n  msg = `\ud83d\udea8 \u0410\u041b\u0415\u0420\u0422: ${errors.length} \u043f\u0440\u043e\u0431\u043b\u0435\u043c(${timeStr} MSK)\\n\\n${errors.join('\\n\\n')}\\n\\n\u2705 \u0420\u0430\u0431\u043e\u0442\u0430\u044e\u0442:\\n${ok.join('\\n')}`;\n}\n\nreturn [{ json: { text: msg, has_errors: errors.length > 0 } }];\n"}}, {"id": "filter", "name": "Only if errors", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [440, 300], "parameters": {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"id": "c1", "leftValue": "={{ $json.has_errors }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}, "combinator": "and"}}, {"id": "tg", "name": "Telegram Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [660, 260], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $('Check Workflows').first().json.text }}", "additionalFields": {"appendAttribution": false}}}], "connections": {"Every hour": {"main": [[{"node": "Check Workflows", "type": "main", "index": 0}]]}, "Check Workflows": {"main": [[{"node": "Only if errors", "type": "main", "index": 0}]]}, "Only if errors": {"main": [[{"node": "Telegram Alert", "type": "main", "index": 0}], []]}}, "settings": {"executionOrder": "v1"}}