workflows/WF-MONITOR_Error_Alert.json
{"name": "[MONITOR] WF Error Alert", "nodes": [{"id": "sched", "name": "Every hour", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1}]}}}, {"id": "c0", "name": "Check: WF-301 SEO Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [200, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=xPhhEHGFbGHjfZN7&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c1", "name": "Check: WF-204 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [390, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=ayh2yYy0u5p3tWap&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c2", "name": "Check: WF-206 Google Index", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [580, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=G9xgJQOOs1hMvBF0&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c3", "name": "Check: WF-201 GSC+GA4", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [770, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=1EcezAM2sWYv6WSL&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c4", "name": "Check: CEO Brief", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [960, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=YVH67YNAB44TlTee&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c5", "name": "Check: WF-205 SEO Audit", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1150, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=jzA0CgaqzrXBYUu5&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "yaq", "name": "\u042f\u043d\u0434\u0435\u043a\u0441: \u043a\u0432\u043e\u0442\u0430", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1340, 300], "parameters": {"method": "GET", "url": "https://api.webmaster.yandex.net/v4/user/1763258173/hosts/https:gaming-goods.ru:443/recrawl/quota", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "OAuth y0__xC93uTIBhj4yz4gnOmx0hYzxUi0DHhVAhks5kL9jLEFr6HyiQ"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "agg", "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1530, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "\nconst results = [];\nconst now = Date.now();\n\ntry {\n  const r = $('Check: WF-301 SEO Content').first().json;\n  const last = (r.data||[])[0];\n  if (!last) {\n    results.push({ name:'WF-301 SEO Content', ok:false, status:'\u043d\u0435\u0442 \u0437\u0430\u043f\u0443\u0441\u043a\u043e\u0432', age:999 });\n  } else {\n    const ageH = Math.round((now - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    const isErr = last.status === 'error';\n    const isTooOld = ageH > 26;\n    // For weekly WF-205: only alert if error is fresh (< 7 days) AND not expected wait\n    const gracePeriod = 0;\n    const realError = isErr && ageH < (gracePeriod > 0 ? gracePeriod : 26);\n    const missedSchedule = !isErr && isTooOld && true;\n    results.push({ \n      name:'WF-301 SEO Content', \n      ok: !realError && !missedSchedule, \n      status: last.status,\n      age: ageH,\n      detail: realError ? '\u274c \u043e\u0448\u0438\u0431\u043a\u0430' : missedSchedule ? '\u23f0 \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u043b \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435' : '\u2705'\n    });\n  }\n} catch(e) { results.push({ name:'WF-301 SEO Content', ok:false, status:'\u043e\u0448\u0438\u0431\u043a\u0430 API', age:0 }); }\n\ntry {\n  const r = $('Check: WF-204 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl').first().json;\n  const last = (r.data||[])[0];\n  if (!last) {\n    results.push({ name:'WF-204 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl', ok:false, status:'\u043d\u0435\u0442 \u0437\u0430\u043f\u0443\u0441\u043a\u043e\u0432', age:999 });\n  } else {\n    const ageH = Math.round((now - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    const isErr = last.status === 'error';\n    const isTooOld = ageH > 26;\n    // For weekly WF-205: only alert if error is fresh (< 7 days) AND not expected wait\n    const gracePeriod = 0;\n    const realError = isErr && ageH < (gracePeriod > 0 ? gracePeriod : 26);\n    const missedSchedule = !isErr && isTooOld && true;\n    results.push({ \n      name:'WF-204 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl', \n      ok: !realError && !missedSchedule, \n      status: last.status,\n      age: ageH,\n      detail: realError ? '\u274c \u043e\u0448\u0438\u0431\u043a\u0430' : missedSchedule ? '\u23f0 \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u043b \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435' : '\u2705'\n    });\n  }\n} catch(e) { results.push({ name:'WF-204 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl', ok:false, status:'\u043e\u0448\u0438\u0431\u043a\u0430 API', age:0 }); }\n\ntry {\n  const r = $('Check: WF-206 Google Index').first().json;\n  const last = (r.data||[])[0];\n  if (!last) {\n    results.push({ name:'WF-206 Google Index', ok:false, status:'\u043d\u0435\u0442 \u0437\u0430\u043f\u0443\u0441\u043a\u043e\u0432', age:999 });\n  } else {\n    const ageH = Math.round((now - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    const isErr = last.status === 'error';\n    const isTooOld = ageH > 26;\n    // For weekly WF-205: only alert if error is fresh (< 7 days) AND not expected wait\n    const gracePeriod = 0;\n    const realError = isErr && ageH < (gracePeriod > 0 ? gracePeriod : 26);\n    const missedSchedule = !isErr && isTooOld && true;\n    results.push({ \n      name:'WF-206 Google Index', \n      ok: !realError && !missedSchedule, \n      status: last.status,\n      age: ageH,\n      detail: realError ? '\u274c \u043e\u0448\u0438\u0431\u043a\u0430' : missedSchedule ? '\u23f0 \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u043b \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435' : '\u2705'\n    });\n  }\n} catch(e) { results.push({ name:'WF-206 Google Index', ok:false, status:'\u043e\u0448\u0438\u0431\u043a\u0430 API', age:0 }); }\n\ntry {\n  const r = $('Check: WF-201 GSC+GA4').first().json;\n  const last = (r.data||[])[0];\n  if (!last) {\n    results.push({ name:'WF-201 GSC+GA4', ok:false, status:'\u043d\u0435\u0442 \u0437\u0430\u043f\u0443\u0441\u043a\u043e\u0432', age:999 });\n  } else {\n    const ageH = Math.round((now - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    const isErr = last.status === 'error';\n    const isTooOld = ageH > 26;\n    // For weekly WF-205: only alert if error is fresh (< 7 days) AND not expected wait\n    const gracePeriod = 0;\n    const realError = isErr && ageH < (gracePeriod > 0 ? gracePeriod : 26);\n    const missedSchedule = !isErr && isTooOld && true;\n    results.push({ \n      name:'WF-201 GSC+GA4', \n      ok: !realError && !missedSchedule, \n      status: last.status,\n      age: ageH,\n      detail: realError ? '\u274c \u043e\u0448\u0438\u0431\u043a\u0430' : missedSchedule ? '\u23f0 \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u043b \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435' : '\u2705'\n    });\n  }\n} catch(e) { results.push({ name:'WF-201 GSC+GA4', ok:false, status:'\u043e\u0448\u0438\u0431\u043a\u0430 API', age:0 }); }\n\ntry {\n  const r = $('Check: CEO Brief').first().json;\n  const last = (r.data||[])[0];\n  if (!last) {\n    results.push({ name:'CEO Brief', ok:false, status:'\u043d\u0435\u0442 \u0437\u0430\u043f\u0443\u0441\u043a\u043e\u0432', age:999 });\n  } else {\n    const ageH = Math.round((now - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    const isErr = last.status === 'error';\n    const isTooOld = ageH > 26;\n    // For weekly WF-205: only alert if error is fresh (< 7 days) AND not expected wait\n    const gracePeriod = 0;\n    const realError = isErr && ageH < (gracePeriod > 0 ? gracePeriod : 26);\n    const missedSchedule = !isErr && isTooOld && true;\n    results.push({ \n      name:'CEO Brief', \n      ok: !realError && !missedSchedule, \n      status: last.status,\n      age: ageH,\n      detail: realError ? '\u274c \u043e\u0448\u0438\u0431\u043a\u0430' : missedSchedule ? '\u23f0 \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u043b \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435' : '\u2705'\n    });\n  }\n} catch(e) { results.push({ name:'CEO Brief', ok:false, status:'\u043e\u0448\u0438\u0431\u043a\u0430 API', age:0 }); }\n\ntry {\n  const r = $('Check: WF-205 SEO Audit').first().json;\n  const last = (r.data||[])[0];\n  if (!last) {\n    results.push({ name:'WF-205 SEO Audit', ok:false, status:'\u043d\u0435\u0442 \u0437\u0430\u043f\u0443\u0441\u043a\u043e\u0432', age:999 });\n  } else {\n    const ageH = Math.round((now - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    const isErr = last.status === 'error';\n    const isTooOld = ageH > 170;\n    // For weekly WF-205: only alert if error is fresh (< 7 days) AND not expected wait\n    const gracePeriod = 168;\n    const realError = isErr && ageH < (gracePeriod > 0 ? gracePeriod : 170);\n    const missedSchedule = !isErr && isTooOld && false;\n    results.push({ \n      name:'WF-205 SEO Audit', \n      ok: !realError && !missedSchedule, \n      status: last.status,\n      age: ageH,\n      detail: realError ? '\u274c \u043e\u0448\u0438\u0431\u043a\u0430' : missedSchedule ? '\u23f0 \u043f\u0440\u043e\u043f\u0443\u0441\u0442\u0438\u043b \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435' : '\u2705'\n    });\n  }\n} catch(e) { results.push({ name:'WF-205 SEO Audit', ok:false, status:'\u043e\u0448\u0438\u0431\u043a\u0430 API', age:0 }); }\n\n// Yandex quota\nlet yaLine = '';\ntry {\n  const ya = $('\u042f\u043d\u0434\u0435\u043a\u0441: \u043a\u0432\u043e\u0442\u0430').first().json;\n  const daily = ya.daily_quota || 890;\n  const rem = ya.quota_remainder ?? 0;\n  const used = daily - rem;\n  const pct = Math.round(used/daily*100);\n  const bar = '\u2588'.repeat(Math.round(pct/10)) + '\u2591'.repeat(10-Math.round(pct/10));\n  yaLine = `\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\ud83d\udd77 Crawl \u043a\u0432\u043e\u0442\u044b \u0441\u0435\u0433\u043e\u0434\u043d\u044f:\\n  \u042f\u043d\u0434\u0435\u043a\u0441:  ${bar} ${used}/${daily} (${pct}%)`;\n} catch(e) {}\n\nconst errors = results.filter(r => !r.ok);\nconst ok = results.filter(r => r.ok);\nconst msk = new Date(now + 3*3600000);\nconst t = msk.toLocaleTimeString('ru-RU',{timeZone:'UTC',hour:'2-digit',minute:'2-digit'});\n\n// Only send alert if errors > 0 OR send daily OK summary at 12:00 MSK\nconst isMorning = msk.getHours() === 12 && msk.getMinutes() < 60;\nconst hasErrors = errors.length > 0;\n\nlet msg = '';\nlet sendIt = false;\n\nif (hasErrors) {\n  msg = `\ud83d\udea8 \u0410\u041b\u0415\u0420\u0422: ${errors.length} \u043f\u0440\u043e\u0431\u043b\u0435\u043c (${t} MSK)\\n\\n`;\n  msg += errors.map(r => `${r.detail} ${r.name} (${r.age}\u0447 \u043d\u0430\u0437\u0430\u0434)`).join('\\n');\n  msg += `\\n\\n\u2705 \u0420\u0430\u0431\u043e\u0442\u0430\u044e\u0442:\\n` + ok.map(r=>`  ${r.name} (${r.age}\u0447)`).join('\\n');\n  msg += yaLine;\n  sendIt = true;\n} else if (isMorning) {\n  // Daily OK summary at noon MSK only\n  msg = `\u2705 \u0412\u0441\u0451 \u0440\u0430\u0431\u043e\u0442\u0430\u0435\u0442 (${t} MSK)\\n\\n` + ok.map(r=>`  \u2705 ${r.name} (${r.age}\u0447)`).join('\\n') + yaLine;\n  sendIt = true;\n}\n\nreturn [{ json: { text: msg, send: sendIt } }];\n"}}, {"id": "ifsend", "name": "Send?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1720, 300], "parameters": {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"id": "s1", "leftValue": "={{ $json.send }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}, "combinator": "and"}}, {"id": "tg", "name": "Telegram Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1910, 260], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $('Aggregate').first().json.text }}", "additionalFields": {"appendAttribution": false}}}], "connections": {"Every hour": {"main": [[{"node": "Check: WF-301 SEO Content", "type": "main", "index": 0}]]}, "Check: WF-301 SEO Content": {"main": [[{"node": "Check: WF-204 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl", "type": "main", "index": 0}]]}, "Check: WF-204 \u042f\u043d\u0434\u0435\u043a\u0441 Recrawl": {"main": [[{"node": "Check: WF-206 Google Index", "type": "main", "index": 0}]]}, "Check: WF-206 Google Index": {"main": [[{"node": "Check: WF-201 GSC+GA4", "type": "main", "index": 0}]]}, "Check: WF-201 GSC+GA4": {"main": [[{"node": "Check: CEO Brief", "type": "main", "index": 0}]]}, "Check: CEO Brief": {"main": [[{"node": "Check: WF-205 SEO Audit", "type": "main", "index": 0}]]}, "Check: WF-205 SEO Audit": {"main": [[{"node": "\u042f\u043d\u0434\u0435\u043a\u0441: \u043a\u0432\u043e\u0442\u0430", "type": "main", "index": 0}]]}, "\u042f\u043d\u0434\u0435\u043a\u0441: \u043a\u0432\u043e\u0442\u0430": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "Send?", "type": "main", "index": 0}]]}, "Send?": {"main": [[{"node": "Telegram Alert", "type": "main", "index": 0}], []]}}, "settings": {"executionOrder": "v1"}}