workflows/WF-MONITOR_Error_Alert.json
{"name": "[MONITOR] WF Error Alert", "nodes": [{"id": "sched", "name": "Every hour", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300], "parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1}]}}}, {"id": "chk0", "name": "Check: WF-301 SEO Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=xPhhEHGFbGHjfZN7&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "chk1", "name": "Check: WF-204 Yandex Recrawl", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=ayh2yYy0u5p3tWap&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "chk2", "name": "Check: WF-201 GSC+GA4", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=1EcezAM2sWYv6WSL&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "chk3", "name": "Check: CEO Brief", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=YVH67YNAB44TlTee&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "chk4", "name": "Check: WF-205 SEO Audit", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, 300], "parameters": {"method": "GET", "url": "https://n8n-4d54.onrender.com/api/v1/executions?workflowId=jzA0CgaqzrXBYUu5&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-N8N-API-KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGVlYWVhZi0xNjI4LTQwY2YtYjJhOC04OWE3ZGNmMmQ3NGUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOWM1ZTMzNzYtZTc1Yi00ZGZmLTk3ZGQtNGUyOTQyYjE0OGYwIiwiaWF0IjoxNzcyNzA0ODM5LCJleHAiOjE3NzUyNTAwMDB9.lobZs1JZbGZ-40qpMD4769omD1fmDk_LmcvGypvchw4"}]}, "options": {"response": {"response": {"neverError": true}}}}}, {"id": "agg", "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 300], "parameters": {"mode": "runOnceForAllItems", "jsCode": "\nconst results = [];\ntry {\n  const r0 = $('Check: WF-301 SEO Content').first().json;\n  const last = (r0.data||[])[0];\n  if (!last) results.push({ name: 'WF-301 SEO Content', status: 'no_runs', ok: false });\n  else {\n    const ageH = Math.round((Date.now() - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    results.push({ name: 'WF-301 SEO Content', status: last.status, age: ageH, ok: last.status === 'success' });\n  }\n} catch(e) { results.push({ name: 'WF-301 SEO Content', status: 'error', ok: false }); }\ntry {\n  const r1 = $('Check: WF-204 Yandex Recrawl').first().json;\n  const last = (r1.data||[])[0];\n  if (!last) results.push({ name: 'WF-204 Yandex Recrawl', status: 'no_runs', ok: false });\n  else {\n    const ageH = Math.round((Date.now() - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    results.push({ name: 'WF-204 Yandex Recrawl', status: last.status, age: ageH, ok: last.status === 'success' });\n  }\n} catch(e) { results.push({ name: 'WF-204 Yandex Recrawl', status: 'error', ok: false }); }\ntry {\n  const r2 = $('Check: WF-201 GSC+GA4').first().json;\n  const last = (r2.data||[])[0];\n  if (!last) results.push({ name: 'WF-201 GSC+GA4', status: 'no_runs', ok: false });\n  else {\n    const ageH = Math.round((Date.now() - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    results.push({ name: 'WF-201 GSC+GA4', status: last.status, age: ageH, ok: last.status === 'success' });\n  }\n} catch(e) { results.push({ name: 'WF-201 GSC+GA4', status: 'error', ok: false }); }\ntry {\n  const r3 = $('Check: CEO Brief').first().json;\n  const last = (r3.data||[])[0];\n  if (!last) results.push({ name: 'CEO Brief', status: 'no_runs', ok: false });\n  else {\n    const ageH = Math.round((Date.now() - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    results.push({ name: 'CEO Brief', status: last.status, age: ageH, ok: last.status === 'success' });\n  }\n} catch(e) { results.push({ name: 'CEO Brief', status: 'error', ok: false }); }\ntry {\n  const r4 = $('Check: WF-205 SEO Audit').first().json;\n  const last = (r4.data||[])[0];\n  if (!last) results.push({ name: 'WF-205 SEO Audit', status: 'no_runs', ok: false });\n  else {\n    const ageH = Math.round((Date.now() - new Date(last.stoppedAt||last.startedAt).getTime())/3600000);\n    results.push({ name: 'WF-205 SEO Audit', status: last.status, age: ageH, ok: last.status === 'success' });\n  }\n} catch(e) { results.push({ name: 'WF-205 SEO Audit', status: 'error', ok: false }); }\n\nconst errors = results.filter(r => !r.ok);\nconst ok = results.filter(r => r.ok);\n\nconst msk = new Date(Date.now() + 3*3600000);\nconst t = msk.toLocaleTimeString('ru-RU',{timeZone:'UTC',hour:'2-digit',minute:'2-digit'});\n\nlet msg;\nif (errors.length === 0) {\n  msg = `\u2705 \u0412\u0441\u0435 \u0432\u043e\u0440\u043a\u0444\u043b\u043e\u0443 OK (${t} MSK)\\n` + ok.map(r=>`  \u2705 ${r.name} (${r.age}\u0447 \u043d\u0430\u0437\u0430\u0434)`).join('\\n');\n} else {\n  msg = `\ud83d\udea8 \u0410\u041b\u0415\u0420\u0422: ${errors.length} \u043f\u0440\u043e\u0431\u043b\u0435\u043c (${t} MSK)\\n\\n`;\n  msg += errors.map(r=>`\u274c ${r.name}: ${r.status}${r.age?' ('+r.age+'\u0447 \u043d\u0430\u0437\u0430\u0434)':''}`).join('\\n');\n  msg += '\\n\\n\u2705 \u0420\u0430\u0431\u043e\u0442\u0430\u044e\u0442:\\n' + ok.map(r=>`  ${r.name} (${r.age}\u0447)`).join('\\n');\n}\n\nreturn [{ json: { text: msg, has_errors: errors.length > 0 } }];\n"}}, {"id": "iferr", "name": "Only errors", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1540, 300], "parameters": {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"id": "c1", "leftValue": "={{ $json.has_errors }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}, "combinator": "and"}}, {"id": "tg", "name": "Telegram Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1760, 260], "credentials": {"telegramApi": {"id": "IjoBfA5jgnMrU9qV", "name": "GG Telegram Bot"}}, "parameters": {"chatId": "83436260", "text": "={{ $('Aggregate').first().json.text }}", "additionalFields": {"appendAttribution": false}}}], "connections": {"Every hour": {"main": [[{"node": "Check: WF-301 SEO Content", "type": "main", "index": 0}]]}, "Check: WF-301 SEO Content": {"main": [[{"node": "Check: WF-204 Yandex Recrawl", "type": "main", "index": 0}]]}, "Check: WF-204 Yandex Recrawl": {"main": [[{"node": "Check: WF-201 GSC+GA4", "type": "main", "index": 0}]]}, "Check: WF-201 GSC+GA4": {"main": [[{"node": "Check: CEO Brief", "type": "main", "index": 0}]]}, "Check: CEO Brief": {"main": [[{"node": "Check: WF-205 SEO Audit", "type": "main", "index": 0}]]}, "Check: WF-205 SEO Audit": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]}, "Aggregate": {"main": [[{"node": "Only errors", "type": "main", "index": 0}]]}, "Only errors": {"main": [[{"node": "Telegram Alert", "type": "main", "index": 0}], []]}}, "settings": {"executionOrder": "v1"}}