workflows/WF-R-CHAMPION-CHURN_daily.json
{
  "name": "WF-R-CHAMPION-CHURN Daily",
  "nodes": [
    {
      "id": "sched",
      "name": "Daily 08:30 MSK",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 5 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "wh",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "webhookId": "wf-r-champion-churn-run",
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-r-champion-churn-run",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "pg",
      "name": "PG: Champion Churn",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "mBKMS6IXC9Jf5DwC",
          "name": "GG Production n8n_reader (5433 disable SSL)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(json_agg(t), '[]'::json) as result FROM (\n  WITH b AS (\n    SELECT o.user_id,\n      COUNT(*) as orders,\n      SUM(o.total_amount)/100.0 as ltv,\n      MAX(o.created_at) as last_order,\n      (EXTRACT(EPOCH FROM (NOW() - MAX(o.created_at)))/86400)::int as days_silent\n    FROM orders o\n    WHERE o.status='completed' AND o.user_id IS NOT NULL \n      AND o.channel='web' AND o.total_amount > 0\n    GROUP BY o.user_id\n  ),\n  fav AS (\n    SELECT o.user_id, p.brand,\n      ROW_NUMBER() OVER (PARTITION BY o.user_id ORDER BY COUNT(*) DESC) as rn\n    FROM order_items oi\n    JOIN orders o ON o.id=oi.order_id\n    JOIN products p ON p.id=oi.product_id\n    WHERE o.status='completed' AND o.channel='web' AND p.brand IS NOT NULL\n    GROUP BY o.user_id, p.brand\n  )\n  SELECT \n    b.user_id::text as uid,\n    LEFT(u.email, 40) as email,\n    u.telegram_id IS NOT NULL as tg,\n    u.phone IS NOT NULL as phone,\n    b.orders,\n    ROUND(b.ltv::numeric) as ltv_eur,\n    b.days_silent,\n    b.last_order::date as last_order,\n    f.brand as fav_brand\n  FROM b\n  JOIN users u ON u.id = b.user_id\n  LEFT JOIN fav f ON f.user_id = b.user_id AND f.rn = 1\n  WHERE b.ltv >= 500\n    AND b.days_silent BETWEEN 10 AND 12\n    AND u.is_banned = false\n  ORDER BY b.ltv DESC\n  LIMIT 30\n) t"
      }
    },
    {
      "id": "fmt",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nlet rows = input.result || [];\nif (typeof rows === 'string') { try { rows = JSON.parse(rows); } catch(e) { rows = []; } }\nif (!Array.isArray(rows)) rows = [];\n\nconst esc = s => String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\nif (rows.length === 0) {\n  // \u041d\u0435\u0442 \u043d\u043e\u0432\u044b\u0445 \u0432\u044b\u043f\u0430\u0434\u0430\u044e\u0449\u0438\u0445 \u2014 \u043c\u043e\u043b\u0447\u0430\u043b\u0438\u0432\u043e\u0435 \u0443\u0442\u0440\u043e (\u043d\u0435 \u0441\u043f\u0430\u043c\u0438\u043c)\n  return [{json: {skip: true, count: 0}}];\n}\n\nconst lines = rows.slice(0, 15).map((r, i) => {\n  const contacts = [r.tg ? '\\ud83d\\udce9TG' : null, r.phone ? '\\u260e\\ufe0fPH' : null].filter(x=>x).join(' ');\n  const email = r.email ? '<code>' + esc(r.email) + '</code>' : '(no email)';\n  return (i+1) + '. ' + email + ' \\u2014 <b>\\u20ac' + r.ltv_eur + '</b> LTV, ' + r.orders + ' \\u0437\\u0430\\u043a\\u0430\\u0437\\u043e\\u0432, <b>' + r.days_silent + '\\u0434</b> \\u0442\\u0438\\u0448\\u0438\\u043d\\u044b, ' + esc(r.fav_brand || '-') + ' ' + contacts;\n}).join('\\n\\n');\n\nconst totalLtv = rows.reduce((s,r) => s + Number(r.ltv_eur||0), 0);\nconst today = new Date().toISOString().slice(0,10);\nconst text = '\\u26a0\\ufe0f <b>Champion Churn Alert</b> \\u2014 ' + today + '\\n<i>\\u041f\\u043e\\u0440\\u043e\\u0433: LTV\\u2265\\u20ac500, \\u0442\\u0438\\u0448\\u0438\\u043d\\u0430 10-12 \\u0434\\u043d\\u0435\\u0439 (\\u0432\\u044b\\u0448\\u0435 P75 Nutaku \\u043d\\u043e \\u043d\\u0438\\u0436\\u0435 At Risk)</i>\\n\\n\\u041d\\u0430\\u0439\\u0434\\u0435\\u043d\\u043e <b>' + rows.length + '</b> \\u0447\\u0435\\u043b\\u043e\\u0432\\u0435\\u043a, \\u0441\\u0443\\u043c\\u043c\\u0430\\u0440\\u043d\\u044b\\u0439 LTV <b>\\u20ac' + totalLtv + '</b>:\\n\\n' + lines + '\\n\\n\\u2192 \\u041c\\u0430\\u043a\\u0441\\u0438\\u043c: \\u043b\\u0438\\u0447\\u043d\\u044b\\u0439 \\u043a\\u043e\\u043d\\u0442\\u0430\\u043a\\u0442 \\u0441\\u0435\\u0433\\u043e\\u0434\\u043d\\u044f. 2 \\u0434\\u043d\\u044f \\u0438 \\u044d\\u0442\\u0438 \\u044e\\u0437\\u0435\\u0440\\u044b \\u0443\\u0439\\u0434\\u0443\\u0442 \\u0432 At Risk.';\n\nreturn [{json: {text, count: rows.length, rows}}];"
      }
    },
    {
      "id": "if",
      "name": "If Has Rows",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "tg",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "chatId": "83436260",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "IjoBfA5jgnMrU9qV",
          "name": "GG Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:30 MSK": {
      "main": [
        [
          {
            "node": "PG: Champion Churn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "PG: Champion Churn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Champion Churn": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "If Has Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Rows": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}